
.principal{
    display: flex;
    flex-direction: row;
    padding: 80px;
}

.cont-adm {
    display: flex;
    flex-direction: row;
    
}

@media (max-width: 800px) {
    .cont-adm {
      flex-direction: row;
    }
}

#barra-adm{
 background-color: rgb(231, 231, 0);
 border-radius: 5%;
 padding: 10px;
 align-items: baseline;
}



#adm-btn-user{
   width: 180px;
   border-radius: 12px;
   border-style: solid;
   background-color: rgb(35, 35, 138);
  
}

.adm-btn-salir{
    padding-left: 250px;
}
.adm-btn-salir1{
    padding-left: 5px;
}

#buscar-user{
    display: flex;
    flex-direction: row;
    padding-left: 250px;
}
/*Hoja de Usuarios   */
#tbl-user{
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}

#edit-div{
    
    orientation: center;
    padding-left: 250px;
    padding-bottom: 10px;
}

#edit-div1{
    
    orientation: center;
    padding-left: 50px;
    padding-bottom: 10px;
}

.inputform{
  background-color: rgb(184, 181, 181);
  padding: 10px;
  color: black;
  border-radius: 8%;
  left: 20px;
  right: 20px;
}

.btningreso{
   border-radius: 16%;
   padding: 20px;
   background-color: yellow;
   color: black;
   
}

.logo{
    padding-left: 200px;
    padding-top: 80px;
    border-radius: 30%;
}
/*Hoja restablacer contraseña */
.cont-re-contra{
    display: flex;
    align-items: center;
    padding-left: 450px;
}



#btna-color{
    color: white;
}
/*boton color  */
#btn-color{
    background-color: red;
}

a:link { text-decoration: none;
}
a:visited {
text-decoration: none;
}
.section-adm{
    left: 102px;
}


#bt-edit-user{
    right: 300px;
}

.footergeneral{
    top: 20px;
    background-color: blue;
    color: white;
    left: 20%;
    padding: 20px;

}

#tam-text{
    -moz-text-size-adjust: auto;
}
/*Hoja parametrizar dato Crear  */
.cont-param-cre{
    display: flex;
    flex-direction: row;
}
/*Hoja parametrizar Plantilla   */
.con-par-pla{
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
}

#con-par-pla{
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    padding-right: 150px;
}