<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lista de areas</title>
	<link rel="shortcut icon" th:href="@{/icons/logo.png}">

	<!-- UIkit CSS para sprintboot -->

	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/uikit.css} " rel="stylesheet" />
	<link th:href="@{/css/all.css}" rel="stylesheet">
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet">



	<!-- UIkit CSS para visual -->

	<link href="/static/css/uikit.css" rel="stylesheet" />



	<link href="/static/css/bootstrap.css" rel="stylesheet" />
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/css/all.css" rel="stylesheet">



</head>

<body style="overflow-x:hidden ;">




	<!-- panel general para plantillas -->

	<div class="container-fluid text-center">
		<div class="row">
			<div class="col-md-2 p-0 ">

                <!-- uk-height-1-1 -->

                <div class="uk-card uk-card-default uk-card-body shadow rounded uk-height-1-1"
                    style=" background-color: #f8df00 ;">
                    <ul class="uk-nav-default" uk-nav>


                        <!-- <img th:src="@{/Img/logo2.PNG}" style="alt: 30px; height: 30px;"> -->
                        <img th:src="@{/Img/pichinchaLogo.jpg}">

                        <!-- Opciones de administrador -->



                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Analista Contable'}"><a
                                href="#"><i class="fa-solid fa-file-excel"></i>Lote</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Analista Contable'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/lote}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-table"></i> cargar Lote
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-circle-info"></i> Historial lote </button>



                                    </form>
                                </li>

                            </ul>
                        </li>

                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Autorizador nivel 1'}"><a
                                href="#"><i class="fa-regular fa-circle-check"></i>Autorizador Nivel 1</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Autorizador nivel 1'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja entrada 
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>

                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Autorizador nivel 2'}"><a
                                href="#"><i class="fa-regular fa-circle-check"></i>Autorizador Nivel 2</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Autorizador nivel 2'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja entrada 
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>
                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}"><a
                                href="#"><i class="fa-solid fa-user-plus"></i>Admin</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                               
                                <li class="m-1">
                                    <form th:action="@{/listaUsuarios}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-users"></i> Usuarios
                                        </button>
                                    </form>
                                </li>

                                <!--
                                <li class="m-1">
                                    <div  class="btn1 rounded shadow-sm" style="height: 30px;">
                                        <a th:href="@{/listaUsuarios}" class="btn1 link-light" target="_blank"><i class="fa-solid fa-users" style="color: aliceblue;"></i> Usuarios </a>
                                    </div>
                                </li>

                                -->

                                <li class="m-1">

                                    <form th:action="@{/listaAreas}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-users-line" ></i> Areas </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/EstadoPlanos}" class="btn1 rounded shadow-sm " method="get">
                                                                 
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-file-circle-check" ></i> Estado Lotes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>

                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}">
                            <a href="#"><i class="fa-solid fa-table"></i>Parametria</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarFuentes}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-hashtag"></i>
                                            Fuente
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarCuentas}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-list-ol"></i>
                                            Cuentas
                                        </button>
                                    </form>
                                </li>


                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaSucursales}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-building"></i>
                                            Sucursales
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/ListaCentroCostos}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-check-dollar"></i>
                                            Centro de costos
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaMonedas}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-dollar-sign"></i>
                                            Moneda
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarDebitoCredito}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-bills"></i>
                                            Débito/crédito
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/MostrarBalance}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-file-arrow-up"></i>
                                            cargar balance
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarCuentasPYG}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-check-dollar"></i>
                                            valores cuenta PYG
                                        </button>
                                    </form>
                                </li>

                                <!--
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/ListaFechasContable}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-regular fa-calendar"></i>
                                            Fechas contables
                                        </button>
                                    </form>
                                </li>
                                -->
                                <!--

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaHorasCorte}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-clock"></i>
                                            Horas corte
                                        </button>
                                    </form>
                                </li>

                                -->

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaTrm}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-dollar-sign"></i>
                                            TRM
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaCuentasExcep}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                      

                                            <i class="fa-solid fa-question"></i>
                                    
                                            Cuentas Exceptuadas
                                        </button>
                                    </form>
                                </li>


                            </ul>
                        </li>


                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}">
                            <a href="#"><i class="fa-solid fa-envelope"></i>solicitudes</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1">
                                    <form th:action="@{/listaSolicitudesCambioCon}" class="btn1 rounded shadow-sm "
                                        method="post">
                                        <button type="submit" class="btn1 text-start"><i class="fa-solid fa-unlock"></i>
                                            Solicitud de contraseña </button>
                                    </form>
                                </li>

                                <li class="m-1">
                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm "
                                        method="post">
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-user-plus"></i>
                                            Crear usuario </button>
                                    </form>
                                </li>

                            </ul>
                        </li>

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Centralizador'}"><a
                            href="#"><i class="fa-regular fa-square-check"></i>Planos</a>
                    </li>

                    <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Centralizador'}">
                        <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                        <ul class="uk-nav-sub">
                            <li class="m-1">
                                <form th:action="@{/listaLotesAutorizados}" class="btn1 rounded shadow-sm" method="get">
                                    <button type="submit" class="btn1 "><i class="fa-solid fa-list-check"></i>  Lotes autorizados </button>
                                </form>
                            </li>
    

                        </ul>
                    </li>



                    </ul>



                </div>


            </div>

			<div class="col-md-10 p-0">

				<div class="container-lxx text-center">

					 <!-- barra de navegacion -->
					 <nav class="navbar navbar-expand-lg bg-body-tertiary ">

                        <div class="container-fluid">


                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                    <img th:src="@{/icons/logo.png}"
                                        style="alt: 40px; height: 40px;"><span class="m-2"
                                        style="text-decoration:none">SIC</span>


                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" th:href="@{/Home}">Inicio</a>
                                    </li>


                                

                                    <li class="nav-item">
                                        <form th:action="@{/listaSolicitudesCrearUsuario}" method="post">
                                            <button type="submit" class="btn ">
                                                <i class="fa-solid fa-user-plus"></i><span class="badge text-warning rounded-circle "><span th:text="${CatidadSolicitudes}"></span>
                                            </button>
                                        </form>

                                    </li>

                                    <li class="nav-item ">
                                        <form th:action="@{/listaSolicitudesCambioCon}" method="post">
                                            <button type="submit" class="btn ">
                                                <i class="fa-solid fa-unlock-keyhole"></i><span class="badge text-warning rounded-circle "><span th:text="${CatidadSolicitudesCambio}"></span>
                                            </button>
                                        </form>

                                    </li>

       

                                </ul>
                 
                                <span class="navbar-text p-0">
                                    
									
                                    <span class="m-2 ">Rol : <span sec:authentication="principal.authorities"></span>
                                    </span>
                                    <span class="m-2 ">nombre de usuario : <span sec:authentication="name"></span>
                                    </span>

                                </span>

                                <span class="navbar-text p-0">
                                    <div class="btn-group ">
                                        <button type="button" class="btn dropdown-toggle " data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="fa-solid fa-circle-user"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">

                                            <form th:action="@{/logout}" method="post" class="btn ">
                                                <button class="btn btn-light" type="submit">Cerrar sesión</button>
                                            </form>

                                        </ul>
                                    </div>
                                </span>

                            </div>
                        </div>
                    </nav>


					<div class="col-md m-3">

						<div class=" text-center shadow p-1 mb-5 bg-body-tertiary rounded uk-margin-medium-top">

							<div class="row p-4">
                                <div class="col align-self-center">
                                    <p class="text-uppercase fs-4 ">Lista de Areas</p>
                                </div>
                                
                                <!--
                                <footer th:insert="fragments/fragments::footer"></footer>
                                -->
        
                            </div>

							
							
							<div class="row ">
								<div class="align-items-start">

									<div class="input-group ">

										<div class="d-inline p-2 ">

											<div class="dropdown">
												<button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
												  Buscar por
												</button>
												<ul class="dropdown-menu">
												  <li><a class="dropdown-item" th:href="@{/barrabusquedaArea}">Area</a></li>
												  <li><a class="dropdown-item" th:href="@{/barrabusquedapresidencia}">Presidencia</a></li>
												  <li><a class="dropdown-item" th:href="@{/barrabusquedaVisepresidencia}">Viceprecidencia</a></li>
												</ul>
											  </div>
							
										</div>

                                        <div class="p-2">

                                            <form th:action="@{/crearArea}" method="get">

                                                <button type="submit" class="btn btn-dark">Crear Area</button>

                                            </form>

                                            

                                        </div>

                                      

										
										<div class=" p-2  ">
											<form th:action="@{/ValidarExistenciaArchivoArea}" enctype="multipart/form-data" method="post" >
												
												<div class="input-group mb-3 ">

													<input type="file" name="file" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" required>
													
													<button class="btn btn-dark" type="submit" id="button-addon2">Cagar Area  <i class="fa-solid fa-file-excel"></i></button>
												 
												</div>

											</form>


										</div>

                                        
								
										<div class="p-2 ">
											
											<div class="uk-inline">
												<button class="btn btn-dark" type="button">ver plantilla <i class="fa-solid fa-eye"></i></button>
												<div class="uk-card uk-card-body uk-card-default uk-width-large " style="width: auto;"  uk-dropdown="mode: click">


													

													<table class="table">
														<thead class="">
														  <tr>
													
															<th scope="col">A</th>
															<th scope="col">B</th>
															<th scope="col">C</th>
															<th scope="col">D</th>
															<th scope="col">E</th>
															<th scope="col">F</th>
															<th scope="col">G</th>
															<th scope="col">H</th>
											
														  </tr>
														</thead>
														<tbody>

															<tr class="table-dark">
													
																<th scope="col">COD VP</th>
																<th scope="col">Presidencia</th>
																<th scope="col">COD DV</th>
																<th scope="col">Vicepresidencia</th>
																<th scope="col">COD COOR</th>
																<th scope="col">AREA</th>
																<th scope="col">Autorizador Nivel 1</th>
																<th scope="col">Autorizador Nivel 2</th>
												
															  </tr>
														  <tr>
															<th scope="row">11</th>
															<td>PRESIDENCIA</td>
															<td>111</td>
															<td>DIRECCIÓN GOBIERNO DE DATOS</td>
															<td>1110</td>
															<td>DIRECCIÓN GOBIERNO DE DATOS</td>
															<td>Nombre_autorizador</td>
															<td>Nombre_autorizador2</td>
														  </tr>
														  <tr>
															<th scope="row">11</th>
															<td>PRESIDENCIA</td>
															<td>110</td>
															<td>PRESIDENCIA</td>
															<td>1110</td>
															<td>PRESIDENCIA</td>
															<td>Nombre_autorizador</td>
															<td>Nombre_autorizador2</td>
														  </tr>
														  <tr>
															<th scope="row">11</th>
															<td>PRESIDENCIA</td>
															<td>561</td>
															<td>AUDITORIA INTEGRAL</td>
															<td>5610</td>
															<td>AUDITORIA INTEGRAL</td>
															<td>Nombre_autorizador</td>
															<td>Nombre_autorizador2</td>
														  </tr>
														</tbody>
													  </table>

												</div>
											</div>


										</div>

                                        <div class="p-2">

                                            <form th:action="@{/GenerarSoporteAreas}" method="get">

                                                <button type="submit" class="btn btn-dark"> <i class="fa-solid fa-file-export"></i> Descargar reporte</button>
                                                
                                            </form>

                                            

                                        </div>

                                        <button class="btn " style="color: rgb(200, 24, 24);" type="button"><i class="fa-solid fa-circle-exclamation"></i> Info </button>
                                 
                                                    <div class="uk-card uk-card-body uk-card-default" uk-drop = "pos: bottom-right; boundary: !.boundary; shift: false; flip: false" >
                                                
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item">Recomendaciones para cargue de archivo</li>
                                                            <li class="list-group-item">1 El archivo no debe contener espacios en blanco </li>
                                                            <li class="list-group-item">2 El archivo no debe de contener clave</li>
                                                            <li class="list-group-item">3 El archivo no debe de contener estilos en sus celdas</li>
                                                            <li class="list-group-item">4 Asegurarse que las columnas no tengas alertas</li>
                                                            <li class="list-group-item">5 El archivo no debe de tener otra hoja creada</li>
                                                  
                                                          </ul>

										<!-- formulario para crear usuario-->

									</div>

								</div>


								<div th:if="${notificacion != null}">
									<div class="col align-self-center">
										<div class="alert alert-warning alert-dismissible fade show" role="alert">
											<strong th:text="${notificacion}"><a href="#" class="alert-link">Mostrar Errorres</a></strong >
											<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
										</div> 
									</div>
								</div>

								<div class="table-responsive">
									<table class="table" style="margin-top: 30px; margin-right: auto;">
										<thead>
											<tr>


												<th scope="col">ver detalles</th>
												<th scope="col">id</th>
												<th scope="col">COD VP</th>
												<th scope="col">Presidencia</th>
												<th scope="col">COD DV</th>
												<th scope="col">Vicepresidencia</th>
												<th scope="col">COD COOR</th>
												<th scope="col">AREA</th>
												<th scope="col"># usuarios</th>
												<th scope="col">Autorizador Nivel 1</th>
												<th scope="col">Autorizador Nivel 2</th>
												<th scope="col">Estado</th>
												<th scope="col">Deshabilitar</th>
												<th scope="col">Habilitar</th>
												
                                                <!--
                                                <th scope="col">Editar</th>
                                                -->
                                                <th scope="col">Eliminar</th>
												<th scope="col">actualizar</th>

											</tr>
										</thead>
										<tbody>
											<tr th:each="areas: ${listaAreas}">
                                               
												<td hidden th:text="${areas.idarea}"></td>

												<td class="">
													<a th:href="@{'BuscarUsuariosArea/{id}' (id=${areas.idarea})}">
														<i class="fa-solid fa-eye" style="color: rgb(83, 85, 87);"></i>
													</a>
												</td>

												<td th:text="${areas.idarea}"></td>
												<td th:text="${areas.codVice}"></td>
												<td th:text=${areas.presidencia}></td>
												<td th:text=${areas.codDirec}></td>
												<td th:text="${areas.Direccion}"></td>
												<td th:text="${areas.codCoor}"></td>
												<td th:text=${areas.Area}></td>
												<td th:text=${areas.CantidadUsuarios}></td>
												<td th:text=${areas.AutorizadorNivel1}></td>
												<td th:text=${areas.AutorizadorNivel2}></td>
												<td th:text=${areas.Estado}></td>


												<td class="">
													<a th:href="@{'DesabilitarArea/{id}' (id=${areas.idarea})}">
														<i class="fa-regular fa-square-minus"
															style="color: rgb(24, 121, 200);"></i>
													</a>
												</td>
												<td class="">
													<a th:href="@{'habilitarArea/{id}' (id=${areas.idarea})}">
														<i class="fa-solid fa-check"
															style="color: rgb(24, 200, 39);"></i>
													</a>
												</td>

                                                <!--
												<td class="">
													<a th:href="@{'EditarArea/{id}' (id=${areas.id})}">

														<i class="fa-solid fa-pen-to-square"
															style="color: rgb(218, 188, 19);"></i>

													</a>
												</td>
                                                -->

												<td class="">
													<a th:href="@{'EliminarArea/{id}' (id=${areas.idarea})}">

														<i class="fa-solid fa-trash"
															style="color: rgb(200, 24, 24);"></i>

													</a>
												</td>

												<td class="">
													<a th:href="@{'ActualizarUsuarios/{id}' (id=${areas.idarea})}">

														<i class="fa-solid fa-shuffle"
															style="color: rgb(16, 149, 158);"></i>

													</a>
												</td>



											</tr>



										</tbody>
									</table>
								</div>

							</div>

							<div class="row m-1">

								<p class="text-md-start">Total de areas : <span th:text="${totalAreas}"></span></p>


								<div class="col align-self-center">

									<nav aria-label="Page navigation example">
										<ul class="pagination justify-content-center ">

											
											<ul class="pagination">
												<li class="page-item">
													
													<span class="page-link" th:if="${page.first}">Primera</span>
													
													<a class="page-link" th:if="${not page.first}" th:href="@{${page.url}(page=0)}">Primera</a>
												
												</li>

												<!--
												<li class="page-item">
													
													<span class="page-link" th:if="${not page.hasPrevious}"></span>
													
													<a class="page-link" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.paginaActual-2})}"><<</a>
												
												</li>
												
												-->
												
												<li class="page-item" th:each="item : ${page.paginas}" th:class="${item.actual? 'page-item active': 'page-item'}">
													
													<span class="page-link" th:if="${item.actual}" th:text="${item.numero}"></span>
													
													<a class="page-link" th:if="${not item.actual}" th:href="@{${page.url}(page=${item.numero-1})}" th:text="${item.numero}"></a>
												
												</li>

												<!--
												<li class="page-item">
													
													<span class="page-link" th:if="${not page.hasNext}">&raquo;</span>
													
													<a class="page-link" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.paginaActual})}">>></a>
												
												</li>
												-->
												
												<li class="page-item">
													
													<span class="page-link" th:if="${page.last}">&Uacute;ltima</span>
													<a class="page-link" th:if="${not page.last}" th:href="@{${page.url}(page=${page.totalPaginas-1})}">&Uacute;ltima</a>
												</li>
											</ul>

										</ul>
									</nav>
								</div>

							</div>

						</div>

					</div>

				</div>
			</div>
		</div>

	</div>

    <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50 " style="background-color: rgb(9, 42, 140);">
        <div class="container text-center">

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" >administracionlotes@pichincha.com.co</a>
                </li>
                
            </ul>



        </div>
    </footer>



	<!-- UIkit JS visual-->

	<script src=" /static/js/uikit-icons.js"></script>
	<script src="/static/js/uikit-icons.min.js"></script>
	<script src="/static/js/uikit.js"></script>

	<!-- UIkit JS sprintboot-->

	<script th:src="@{js/uikit-icons.js}"></script>
	<script th:src="@{js/uikit-icons.min.js}"></script>
	<script th:src="@{js/uikit.js}"></script>

	<!-- Boostrap js visual -->

	<script src="/static/js/bootstrap.bundle.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/bootstrap.bundle.min.js"></script>
	<script src="/static/js/all.js"></script>
	<script src="/static/js/"></script>


	<!-- Boostrap js sprintBoot -->

	<script th:src="@{/js/bootstrap.bundle.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/all.js}"></script>



</body>

</html>