<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles lote</title>
    <link rel="shortcut icon" th:href="@{/icons/logo.png}">

     <!-- UIkit CSS para sprintboot -->

  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/uikit.css} " rel="stylesheet" />
  <link th:href="@{/css/all.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet">



    <!-- UIkit CSS para visual -->

    <link href="/static/css/uikit.css" rel="stylesheet" />



    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/all.css" rel="stylesheet">



</head>

<body style="overflow-x:hidden ;">




    <!-- panel general para plantillas -->

    <div class="container-fluid text-center">
        <div class="row">

            <div class="col-md-2 p-0 ">

                <!-- uk-height-1-1 -->

                <div class="uk-card uk-card-default uk-card-body shadow rounded uk-height-1-1"
                    style=" background-color: #f8df00 ;">
                    <ul class="uk-nav-default" uk-nav>


                        <!-- <img th:src="@{/Img/logo2.PNG}" style="alt: 30px; height: 30px;"> -->
                        <img th:src="@{/Img/pichinchaLogo.jpg}">

                        <!-- Opciones de administrador -->



                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Analista Contable'}"><a
                                href="#"><i class="fa-solid fa-file-excel"></i>Lote</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Analista Contable'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/lote}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-table"></i> cargar Lote
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/EstadoPlanosAnalista}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-circle-info"></i> Estado Lotes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>

                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Autorizador nivel 1'}"><a
                                href="#"><i class="fa-regular fa-circle-check"></i>Autorizador Nivel 1</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Autorizador nivel 1'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja entrada 
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>

                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Autorizador nivel 2'}"><a
                                href="#"><i class="fa-regular fa-circle-check"></i>Autorizador Nivel 2</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Autorizador nivel 2'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja entrada 
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>
                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}"><a
                                href="#"><i class="fa-solid fa-user-plus"></i>Admin</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                               
                                <li class="m-1">
                                    <form th:action="@{/listaUsuarios}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-users"></i> Usuarios
                                        </button>
                                    </form>
                                </li>

                                <!--
                                <li class="m-1">
                                    <div  class="btn1 rounded shadow-sm" style="height: 30px;">
                                        <a th:href="@{/listaUsuarios}" class="btn1 link-light" target="_blank"><i class="fa-solid fa-users" style="color: aliceblue;"></i> Usuarios </a>
                                    </div>
                                </li>

                                -->

                                <li class="m-1">

                                    <form th:action="@{/listaAreas}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-users-line" ></i> Areas </button>



                                    </form>
                                </li>

                            </ul>
                        </li>

                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}">
                            <a href="#"><i class="fa-solid fa-table"></i>Parametria</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarFuentes}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-hashtag"></i>
                                            Fuente
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarCuentas}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-list-ol"></i>
                                            Cuentas
                                        </button>
                                    </form>
                                </li>


                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaSucursales}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-building"></i>
                                            Sucursales
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/ListaCentroCostos}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-check-dollar"></i>
                                            Centro de costos
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaMonedas}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-dollar-sign"></i>
                                            Moneda
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarDebitoCredito}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-bills"></i>
                                            Débito/crédito
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/MostrarBalance}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-file-arrow-up"></i>
                                            cargar balance
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarCuentasPYG}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-check-dollar"></i>
                                            valores cuenta PYG
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/ListaFechasContable}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-regular fa-calendar"></i>
                                            Fechas contables
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaHorasCorte}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-clock"></i>
                                            Horas corte
                                        </button>
                                    </form>
                                </li>

                            </ul>
                        </li>

                        <li class="uk-nav-divider"></li>

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}">
                            <a href="#"><i class="fa-solid fa-envelope"></i>solicitudes</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1">
                                    <form th:action="@{/listaSolicitudesCambioCon}" class="btn1 rounded shadow-sm "
                                        method="post">
                                        <button type="submit" class="btn1 text-start"><i class="fa-solid fa-unlock"></i>
                                            Solicitud de contraseña </button>
                                    </form>
                                </li>

                                <li class="m-1">
                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm "
                                        method="post">
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-user-plus"></i>
                                            Crear usuario </button>
                                    </form>
                                </li>

                            </ul>
                        </li>

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Centralizador'}"><a
                            href="#"><i class="fa-regular fa-square-check"></i>Planos</a>
                    </li>

                    <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Centralizador'}">
                        <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                        <ul class="uk-nav-sub">
                            <li class="m-1">
                                <form th:action="@{/listaLotesAutorizados}" class="btn1 rounded shadow-sm" method="get">
                                    <button type="submit" class="btn1 "><i class="fa-solid fa-list-check"></i>  Lotes autorizados </button>
                                </form>
                            </li>
    

                        </ul>
                    </li>

                <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Director Contable'}"><a
                        href="#"><i class="fa-regular fa-circle-check"></i>Director Contable</a>
                </li>

                <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Director Contable'}">
                    <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                    <ul class="uk-nav-sub">
                        <li class="m-1">
                            <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm" method="get">
                                <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja entrada 
                                </button>
                            </form>
                        </li>
                        <li class="m-1">

                            <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm " method="get">
                                <button type="submit" class="btn1 text-start">
                                    <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                            </form>
                        </li>

                        <li class="m-1">

                            <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm " method="get">
                                <button type="submit" class="btn1 text-start">
                                    <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                            </form>
                        </li>

                        <li class="m-1">

                            <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm " method="get">
                                <button type="submit" class="btn1 text-start">
                                    <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                            </form>
                        </li>

                        <li class="m-1">

                            <form th:action="@{/listaSolicitudesCrearUsuarioAutori}" class="btn1 rounded shadow-sm " method="get">
                                <button type="submit" class="btn1 text-start">
                                    <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                            </form>
                        </li>

                    </ul>
                </li>

                <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Auditor'}"><a
                        href="#"><i class="fa-solid fa-magnifying-glass"></i> Auditoria</a>
                </li>

                <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Auditor'}">
                    <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                    <ul class="uk-nav-sub">

                        <li class="m-1">
                            <form th:action="@{/ListaPlanosCargados}" class="btn1 rounded shadow-sm" method="get">
                                <button type="submit" class="btn1 "> <i class="fa-solid fa-file-export"></i> historial planos
                                </button>
                            </form>
                        </li>

                        <li class="m-1">

                            <form th:action="@{/listaLotesInforme}" class="btn1 rounded shadow-sm " method="get">
                                <button type="submit" class="btn1 text-start">
                                    <i class="fa-solid fa-folder-tree"></i> Filtrar lote </button>



                            </form>
                        </li>

                        <li class="m-1">
                            <form th:action="@{/logs}" class="btn1 rounded shadow-sm" method="get">
                                <button type="submit" class="btn1 "> <i class="fa-solid fa-clock-rotate-left"></i> Logs
                                </button>
                            </form>
                        </li>

                    </ul>
                </li>

                <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Consulta'}"><a
                    href="#"><i class="fa-regular fa-square-check"></i>Consulta</a>
                </li>

                <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Consulta'}">
                    <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                    <ul class="uk-nav-sub">
                        <li class="m-1">
                            <form th:action="@{/verTrazabilidadlotes}" class="btn1 rounded shadow-sm" method="get">
                                <button type="submit" class="btn1 "><i class="fa-solid fa-list-check"></i>  Ver lotes </button>
                            </form>
                        </li>


                    </ul>
                </li>



                    </ul>



                </div>


            </div>

            <div class="col-md-10 p-0">

                <div class="text-center">

                    <!-- barra de navegacion -->
                    <nav class="navbar navbar-expand-lg bg-body-tertiary ">

                        <div class="container-fluid">


                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                    <img th:src="@{/icons/logo.png}"
                                        style="alt: 40px; height: 40px;"><span class="m-2"
                                        style="text-decoration:none">SIC</span>


                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" th:href="@{/Home}">Inicio</a>
                                    </li>


                                

                           

       

                                </ul>
                 
                                <span class="navbar-text p-0">
                                    
                                    <span class="m-2 ">Rol : <span sec:authentication="principal.authorities"></span>
                                    </span>
                                    <span class="m-2 ">nombre de usuario : <span sec:authentication="name"></span>
                                    </span>

                                </span>

                                <span class="navbar-text p-0">
                                    <div class="btn-group ">
                                        <button type="button" class="btn dropdown-toggle " data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="fa-solid fa-circle-user"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">

                                            <form th:action="@{/logout}" method="post" class="btn ">
                                                <button class="btn btn-light" type="submit">Cerrar sesión</button>
                                            </form>

                                        </ul>
                                    </div>
                                </span>

                            </div>
                        </div>
                    </nav>


                    <div class="col-md m-3">

                        <div class="container text-center shadow p-3 mb-5 bg-body-tertiary rounded">
                

                            <h3 class="m-3">Detalles de lote <span th:text="${idlote}"></span></h3>

                             <!-- btn retroceder  -->

                             <div th:if="${rol == 'Director Contable'}">

                                <a class="icon-link icon-link-hover"  th:href="@{/EstadoPlanosAutorizador}">
                                
                                    <i class="fa-solid fa-arrow-left-long"></i> Regresar
                                  </a>
                            
                            </div>

                            <div th:if="${rol == 'Autorizador nivel 1'}">

                                <a class="icon-link icon-link-hover"  th:href="@{/EstadoPlanosAutorizador}">
                                
                                    <i class="fa-solid fa-arrow-left-long"></i> Regresar
                                  </a>
                            
                            </div>

                            <div th:if="${rol == 'Autorizador nivel 2'}">

                                <a class="icon-link icon-link-hover"  th:href="@{/EstadoPlanosAutorizador}">
                                
                                    <i class="fa-solid fa-arrow-left-long"></i> Regresar
                                  </a>
                            
                            </div>

                            <div th:if="${rol == 'Analista Contable'}">

                                <a class="icon-link icon-link-hover"  th:href="@{/lote}">
                                
                                    <i class="fa-solid fa-arrow-left-long"></i> Regresar
                                  </a>
                            
                            </div>

                            <div th:if="${rol == 'Centralizador'}">

                                <a class="icon-link icon-link-hover"  th:href="@{/EstadoPlanos}">
                                
                                    <i class="fa-solid fa-arrow-left-long"></i> Regresar
                                  </a>
                            
                            </div>

                            <div th:if="${rol == 'Administrador'}">

                                <a class="icon-link icon-link-hover"  th:href="@{/EstadoPlanos}">
                                
                                    <i class="fa-solid fa-arrow-left-long"></i> Regresar
                                  </a>
                            
                            </div>

                            <div th:if="${rol == 'Auditor'}">

                                <a class="icon-link icon-link-hover"  th:href="@{/listaLotesInforme}">
                                
                                    <i class="fa-solid fa-arrow-left-long"></i> Regresar
                                  </a>
                            
                            </div>

                            <div th:if="${rol == 'Consulta'}">

                                <a class="icon-link icon-link-hover"  th:href="@{/verTrazabilidadlotes}">
                                
                                    <i class="fa-solid fa-arrow-left-long"></i> Regresar
                                  </a>
                            
                            </div>
        
                            <div class="row uk-margin-xlarge-bottom">

                                <table class="table" th:object="${lotes}">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">ID LOTE</th>
                                        <th scope="col" th:text="${lotes.IdLote}"></th>
                                        
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>Comentario</td>
                                        <td th:text="${lotes.comentario}"></td>
                                        
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>Numero registros</td>
                                        <td th:text="${lotes.catidadaregistros}"></td>
                                        
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td>Hora de cargue</td>
                                        <td th:text="${lotes.HoraCargue}"</td>
                                        
                                      </tr>
                                      <tr>
                                        <th scope="row">4</th>
                                        <td>Fecha de cargue</td>
                                        <td th:text="${lotes.FechaProceso}"></td>
                                        
                                      </tr>
                                      <tr>
                                        <th scope="row">5</th>
                                        <td>Autorizador responsable</td>
                                        <td th:text="${lotes.autorizador}"></td>
                                        
                                      </tr>
                                      <tr>
                                        <th scope="row">6</th>
                                        <td>Area del Autorizador</td>
                                        <td th:text="${lotes.autorizadorArea}"></td>
                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">7</th>
                                        <td>Analista responsable</td>
                                        <td th:text="${lotes.analista}"></td>
                                        
                                      </tr>
                                      <tr>
                                        <th scope="row">8</th>
                                        <td>Area del analista</td>
                                        <td th:text="${lotes.analistaArea}"></td>
                                        
                                      </tr>
                                      <tr>
                                        <th scope="row">9</th>
                                        <td>Centralizador responsable</td>
                                        <td th:text="${lotes.Centralizador}"></td>
                                        
                                      </tr>

                                      <tr>
                                        <th scope="row">10</th>
                                        <td>Area del Centralizador</td>
                                        <td th:text="${lotes.centralizadorArea}"></td>
                                      </tr>

                                      <tr>
                                        <th scope="row">11</th>
                                        <td>Tipo de lote</td>
                                        <td th:text="${lotes.TipoLote}"></td>
                                      </tr>

                                      <tr>
                                        <th scope="row">12</th>
                                        <td>Estado del lote</td>
                                        <td th:text="${lotes.EstadoLote}"></td>
                                      </tr>

                                      <tr>
                                        <th scope="row">13</th>
                                        <td>Numero cuentas saldo contrario </td>
                                        <td th:text="${lotes.contrario}"></td>
                                      </tr>

                                      <tr>
                                        <th scope="row">14</th>
                                        <td>Numero de errores parametria </td>
                                        <td th:text="${lotes.NumeroErrores}"></td>
                                      </tr>

                                    </tbody>
                                  </table>

                                
                              
                                
        
        
                            </div>
      
                        </div>
        
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>


    <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50" style="background-color: rgb(9, 42, 140);">
        <div class="container text-center">

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" >administracionlotes@pichincha.com.co</a>
                </li>
                
            </ul>



        </div>
    </footer>



  <!-- UIkit JS sprintboot-->

  <script th:src="@{/js/uikit-icons.js}"></script>
  <script th:src="@{/js/uikit-icons.min.js}"></script>
  <script th:src="@{/js/uikit.js}"></script>

  <!-- Boostrap js sprintBoot -->

  <script th:src="@{/js/bootstrap.bundle.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/bootstrap.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/all.js}"></script>



</body>

</html>