<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Lote</title>
    <link rel="shortcut icon" th:href="@{/icons/logo.png}">

    <!-- UIkit CSS para sprintboot -->

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/uikit.css} " rel="stylesheet" />
    <link th:href="@{/css/all.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">



    <!-- UIkit CSS para visual -->

    <link href="/static/css/uikit.css" rel="stylesheet" />



    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/all.css" rel="stylesheet">



</head>

<body style="overflow-x:hidden ;">




    <!-- panel general para plantillas -->

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-2 p-0 ">

                <!-- uk-height-1-1 -->

                <div class="uk-card uk-card-default uk-card-body shadow rounded uk-height-1-1"
                    style=" background-color: #f8df00 ;">
                    <ul class="uk-nav-default" uk-nav>


                        <!-- <img th:src="@{/Img/logo2.PNG}" style="alt: 30px; height: 30px;"> -->
                        <img th:src="@{/Img/pichinchaLogo.jpg}">

                        <!-- Opciones de administrador -->





                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Analista Contable'}"><a
                                href="#"><i class="fa-solid fa-file-excel"></i>Lote</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Analista Contable'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/lote}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-table"></i> cargar
                                            Lote
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/EstadoPlanosAnalista}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-circle-info"></i> Estado lotes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>



                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Autorizador nivel 1'}"><a
                                href="#"><i class="fa-regular fa-circle-check"></i>Autorizador Nivel 1</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Autorizador nivel 1'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja
                                            entrada
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>



                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Autorizador nivel 2'}"><a
                                href="#"><i class="fa-regular fa-circle-check"></i>Autorizador Nivel 2</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Autorizador nivel 2'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja
                                            entrada
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>


                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}"><a
                                href="#"><i class="fa-solid fa-user-plus"></i>Admin</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1">
                                    <form th:action="@{/listaUsuarios}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-users"></i> Usuarios
                                        </button>
                                    </form>
                                </li>

                                <!--
                                <li class="m-1">
                                    <div  class="btn1 rounded shadow-sm" style="height: 30px;">
                                        <a th:href="@{/listaUsuarios}" class="btn1 link-light" target="_blank"><i class="fa-solid fa-users" style="color: aliceblue;"></i> Usuarios </a>
                                    </div>
                                </li>

                                -->

                                <li class="m-1">

                                    <form th:action="@{/listaAreas}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-users-line"></i> Areas </button>



                                    </form>
                                </li>

                            </ul>
                        </li>



                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}">
                            <a href="#"><i class="fa-solid fa-table"></i>Parametria</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarFuentes}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-hashtag"></i>
                                            Fuente
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarCuentas}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-list-ol"></i>
                                            Cuentas
                                        </button>
                                    </form>
                                </li>


                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaSucursales}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-building"></i>
                                            Sucursales
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/ListaCentroCostos}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-check-dollar"></i>
                                            Centro de costos
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaMonedas}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-dollar-sign"></i>
                                            Moneda
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarDebitoCredito}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-bills"></i>
                                            Debito/credito
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/MostrarBalance}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-file-arrow-up"></i>
                                            cargar balance
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarCuentasPYG}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-check-dollar"></i>
                                            valores cuenta PYG
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/ListaFechasContable}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-regular fa-calendar"></i>
                                            Fechas contables
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaHorasCorte}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-clock"></i>
                                            Horas corte
                                        </button>
                                    </form>
                                </li>

                            </ul>
                        </li>

                        <li class="uk-nav-divider"></li>

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}">
                            <a href="#"><i class="fa-solid fa-envelope"></i>solicitudes</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1">
                                    <form th:action="@{/listaSolicitudesCambioCon}" class="btn1 rounded shadow-sm "
                                        method="post">
                                        <button type="submit" class="btn1 text-start"><i class="fa-solid fa-unlock"></i>
                                            Solicitud de contraseña </button>
                                    </form>
                                </li>

                                <li class="m-1">
                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm "
                                        method="post">
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-user-plus"></i>
                                            Crear usuario </button>
                                    </form>
                                </li>

                            </ul>
                        </li>

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Centralizador'}"><a
                                href="#"><i class="fa-regular fa-square-check"></i>Planos</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Centralizador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/listaLotesAutorizados}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 "><i class="fa-solid fa-list-check"></i> Lotes
                                            autorizados </button>
                                    </form>
                                </li>


                            </ul>
                        </li>



                    </ul>



                </div>


            </div>

            <div class="col-md-10 p-0">

                <div class="text-center">

                    <!-- barra de navegacion -->
                    <nav class="navbar navbar-expand-lg bg-body-tertiary ">

                        <div class="container-fluid">


                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                    <img th:src="@{/icons/logo.png}" style="alt: 40px; height: 40px;"><span class="m-2"
                                        style="text-decoration:none">SIC</span>


                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" th:href="@{/Home}">Inicio</a>
                                    </li>


                                </ul>

                                <span class="navbar-text p-0">

                                    <span class="m-2 ">Rol : <span sec:authentication="principal.authorities"></span>
                                    </span>
                                    <span class="m-2 ">nombre de usuario : <span sec:authentication="name"></span>
                                    </span>

                                </span>

                                <span class="navbar-text p-0">
                                    <div class="btn-group ">
                                        <button type="button" class="btn dropdown-toggle " data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="fa-solid fa-circle-user"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">

                                            <form th:action="@{/logout}" method="post" class="btn ">
                                                <button class="btn btn-light" type="submit">Cerrar seccion</button>
                                            </form>

                                        </ul>
                                    </div>
                                </span>

                            </div>
                        </div>

                    </nav>

                   

                    <div class="col-md m-3">

                        <div class="text-center shadow p-1 mb-5 bg-body-tertiary rounded uk-margin-medium-top">
                            <div class="row p-4">
                                <div class="col align-self-center">
                                    <h6>Lotes entre : </h5>
                                    <p class="text-uppercase fs-5 "><span th:text="${fechaInicial}"></span> - <span th:text="${fechaFinal}"></span></p>
                                </div>

                                

                            </div>


                        


                        <div th:unless="${#lists.isEmpty(listaErrores)}">

                            <div class=" alert alert-danger  shadow p-3 mb-5  rounded" role="alert">

                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>


                                <h4 class="alert-heading">Errores De lote Detectatos!</h4>

                                <hr>
                                <p class="mb-0"></p>

                                <div class="table-wrapper-scroll-y my-custom-scrollbar">

                                    <table class="table table-bordered table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col"># error</th>
                                                <th scope="col">Tipo Error</th>
                                                <th scope="col">Descripcon de error</th>
                                                <th scope="col">Dato Erroneo</th>
                                                <th scope="col">Posicion de error</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr th:each=" listaerrores : ${listaErrores}" class="overflow-auto">
                                                <th scope="row" th:text="${listaerrores.numeroError}"></th>
                                                <td th:text="${listaerrores.TipoError}"></td>
                                                <td th:text="${listaerrores.DescripError}"></td>
                                                <td th:text="${listaerrores.DatoErroneo}"></td>
                                                <td th:text="${listaerrores.PosicionError}"></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>






                                <div th:unless="${#lists.isEmpty(listaErroresBalance)}">

                                    <div class=" alert alert-danger  shadow p-3 mb-5  rounded" role="alert">

                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>


                                        <h4 class="alert-heading">Saldos contrarios detectados para el lote :</h4>

                                        <h5 th:text="${idlote}"></h5>

                                        <hr>
                                        <p class="mb-0"></p>

                                        <div class="table-wrapper-scroll-y my-custom-scrollbar">

                                            <table class="table table-bordered table-striped mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col"># error</th>
                                                        <th scope="col">Tipo Error</th>
                                                        <th scope="col">Descripcon de error</th>
                                                        <th scope="col">Cuenta Erronea</th>
                                                        <th scope="col">Saldo cuenta lote</th>
                                                        <th scope="col">Saldo cuenta Balance</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr th:each=" listaerrores : ${listaErroresBalance}"
                                                        class="overflow-auto">
                                                        <th scope="row" th:text="${listaerrores.NumeroError}"></th>
                                                        <td th:text="${listaerrores.TipoError}"></td>
                                                        <td th:text="${listaerrores.Descripccion}"></td>
                                                        <td th:text="${listaerrores.DatoErroneo}"></td>
                                                        <td th:text="${listaerrores.saldoloteString}"></td>
                                                        <td th:text="${listaerrores.SaldoBalance}"></td>
                                                    </tr>

                                                </tbody>
                                            </table>





                                        </div>

                                        <h6>Desea continuar con el proceso </h6>

                                        <div class="btn-group" role="group" aria-label="Basic example">




                                            <form th:object="${loteErrores}" class="m-2">

                                                <td class="">
                                                    <a th:href="@{'continuarFlujo/{id}' (id=${loteErrores.IdLote})}"
                                                        class=" btn btn-success">

                                                        Si <i class="fa-solid fa-circle-check"></i>

                                                    </a>
                                                </td>

                                            </form>

                                            <form th:object="${loteErrores}" class="m-2">

                                                <td class="">
                                                    <a th:href="@{'DenegarFlujo/{id}' (id=${loteErrores.IdLote})}"
                                                        class="btn btn-danger">


                                                        No <i class="fa-solid fa-xmark"></i>


                                                    </a>
                                                </td>

                                            </form>

                                        </div>



                                    </div>


                                </div>

                            </div>

                        </div>



                        <div th:if="${notificacion != null}">
                            <div class="col align-self-center">
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong th:text="${notificacion}"><a href="#" class="alert-link">Mostrar
                                            Errores</a></strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                            </div>
                        </div>



                        <div class="table-responsive">

                            <table class="table table-hover">
                                <thead class="">
                                    <tr>
    
    
                                        <th scope="col">idLote</th>
                                        <th scope="col"># Registros</th>
                                        <th scope="col">Valor Crédito</th>
                                        <th scope="col">Valor Débito</th>
                                        <th scope="col">Total General</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col"># Errores</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Fecha Proceso</th>
                                        <th scope="col">Nombre Archivo</th>
                                        <th scope="col">Motivo de devolución</th>
                                        <th scope="col">Resumen</th>
                                        <th scope="col">Eliminar</th>
                                        <th scope="col">Actualizar estado</th>
    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="lotes: ${lote}">
    
                                        <td th:text="${lotes.IdLote}"></td>
                                        <td th:text="${lotes.catidadaregistros}"></td>
                                        <td th:text="${lotes.ValorCreditoNumerico}"></td>
                                        <td th:text="${lotes.ValorDebitoNumerico}"></td>
                                        <td th:text="${lotes.ValorPesosNumerico}"></td>
                                        <td th:text="${lotes.EstadoLote}"></td>
                                        <td th:text="${lotes.NumeroErrores}"></td>
                                        <td th:text="${lotes.TipoLote}"></td>
                                        <td th:text="${lotes.FechaProceso}"></td>
                                        <td th:text="${lotes.NombreArchivo}"></td>
                                        <td th:text="${lotes.comentario}"></td>
    
                                        <td class="">
                                            <a th:href="@{'MostrarResumen/{id}' (id=${lotes.IdLote})}">
    
                                                <i class="fa-solid fa-eye" style="color: rgb(78, 74, 74);"></i>
    
                                            </a>
                                        </td>
    
                                        <td class="">
                                            <a th:href="@{'EliminarLote/{id}' (id=${lotes.IdLote})}">
    
                                                <i class="fa-solid fa-trash" style="color: rgb(200, 24, 24);"></i>
    
                                            </a>
                                        </td>
    
                                        <td class="">
                                            <a th:href="@{actualizarEstado}">
    
                                                <i class="fa-solid fa-arrows-rotate" style="color: rgb(17, 144, 212);"></i>
    
    
                                            </a>
                                        </td>
    
    
    
                                    </tr>
    
                                </tbody>
                            </table>
    
                        </div>
    
                        <div class="row m-1">
                            <div class="col align-self-center">
    
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center ">
    
                                        <ul class="pagination">
                                            <li class="page-item">
    
                                                <span class="page-link" th:if="${page.first}">Primera</span>
    
                                                <a class="page-link" th:if="${not page.first}"
                                                    th:href="@{${page.url}(page=0)}">Primera</a>
    
                                            </li>
    
                                            <!--
                                                        <li class="page-item">
                                                            
                                                            <span class="page-link" th:if="${not page.hasPrevious}"></span>
                                                            
                                                            <a class="page-link" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.paginaActual-2})}"><<</a>
                                                        
                                                        </li>
                                                        
                                                        -->
    
                                            <li class="page-item" th:each="item : ${page.paginas}"
                                                th:class="${item.actual? 'page-item active': 'page-item'}">
    
                                                <span class="page-link" th:if="${item.actual}"
                                                    th:text="${item.numero}"></span>
    
                                                <a class="page-link" th:if="${not item.actual}"
                                                    th:href="@{${page.url}(page=${item.numero-1})}"
                                                    th:text="${item.numero}"></a>
    
                                            </li>
    
                                            <!--
                                                        <li class="page-item">
                                                            
                                                            <span class="page-link" th:if="${not page.hasNext}">&raquo;</span>
                                                            
                                                            <a class="page-link" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.paginaActual})}">>></a>
                                                        
                                                        </li>
                                                        -->
    
                                            <li class="page-item">
    
                                                <span class="page-link" th:if="${page.last}">&Uacute;ltima</span>
                                                <a class="page-link" th:if="${not page.last}"
                                                    th:href="@{${page.url}(page=${page.totalPaginas-1})}">&Uacute;ltima</a>
                                            </li>
                                        </ul>
    
                                    </ul>
                                </nav>
                            </div>
    
                        </div>

                    </div>




                



                </div>

            </div>

        </div>

    </div>
    </div>
    </div>
    </div>
    </div>


    <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50" style="background-color: rgb(9, 42, 140);">
        <div class="container text-center">

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light">administracionlotes@pichincha.com.co</a>
                </li>

            </ul>



        </div>
    </footer>





    <!-- UIkit JS sprintboot-->

    <script src=" /static/js/uikit-icons.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
    <script src="/static/js/uikit.js"></script>

    <script th:src="@{js/uikit-icons.js}"></script>
    <script th:src="@{js/uikit-icons.min.js}"></script>
    <script th:src="@{js/uikit.js}"></script>


    <!-- Boostrap js visual -->

    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/all.js"></script>
    <script src="/static/js/"></script>


    <!-- Boostrap js sprintBoot -->

    <script th:src="@{js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/all.js}"></script>



</body>

</html>