<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista TRM</title>
    <link rel="shortcut icon" th:href="@{/icons/logo.png}">
     <!-- UIkit CSS para sprintboot -->

  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/uikit.css} " rel="stylesheet" />
  <link th:href="@{/css/all.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet">



    <!-- UIkit CSS para visual -->

    <link href="/static/css/uikit.css" rel="stylesheet" />



    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/all.css" rel="stylesheet">



</head>

<body style="overflow-x:hidden ;">




    <!-- panel general para plantillas -->

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-2 p-0 ">

                <!-- uk-height-1-1 -->

                <div class="uk-card uk-card-default uk-card-body shadow rounded uk-height-1-1"
                    style=" background-color: #f8df00 ;">
                    <ul class="uk-nav-default" uk-nav>


                        <!-- <img th:src="@{/Img/logo2.PNG}" style="alt: 30px; height: 30px;"> -->
                        <img th:src="@{/Img/pichinchaLogo.jpg}">

                        <!-- Opciones de administrador -->



                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Analista Contable'}"><a
                                href="#"><i class="fa-solid fa-file-excel"></i>Lote</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Analista Contable'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/lote}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-table"></i> cargar Lote
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-circle-info"></i> Historial lote </button>



                                    </form>
                                </li>

                            </ul>
                        </li>


                    <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Auditor'}"><a
                            href="#"><i class="fa-solid fa-magnifying-glass"></i> Auditoria</a>
                    </li>

                    <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Auditor'}">
                        <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                        <ul class="uk-nav-sub">

                            <li class="m-1">
                                <form th:action="@{/ListaPlanosCargados}" class="btn1 rounded shadow-sm" method="get">
                                    <button type="submit" class="btn1 "> <i class="fa-solid fa-file-export"></i> historial planos
                                    </button>
                                </form>
                            </li>

                            <li class="m-1">

                                <form th:action="@{/filtroInforme}" class="btn1 rounded shadow-sm " method="get">
                                    <button type="submit" class="btn1 text-start">
                                        <i class="fa-solid fa-folder-tree"></i> Filtrar lote </button>



                                </form>
                            </li>

                            <li class="m-1">
                                <form th:action="@{/logs}" class="btn1 rounded shadow-sm" method="get">
                                    <button type="submit" class="btn1 "> <i class="fa-solid fa-clock-rotate-left"></i> Logs
                                    </button>
                                </form>
                            </li>

                        </ul>
                    </li>

                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Autorizador nivel 1'}"><a
                                href="#"><i class="fa-regular fa-circle-check"></i>Autorizador Nivel 1</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Autorizador nivel 1'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja entrada 
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>

            

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Autorizador nivel 2'}"><a
                                href="#"><i class="fa-regular fa-circle-check"></i>Autorizador Nivel 2</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Autorizador nivel 2'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja entrada 
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>
                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}"><a
                                href="#"><i class="fa-solid fa-user-plus"></i>Admin</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                               
                                <li class="m-1">
                                    <form th:action="@{/listaUsuarios}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-users"></i> Usuarios
                                        </button>
                                    </form>
                                </li>

                                <!--
                                <li class="m-1">
                                    <div  class="btn1 rounded shadow-sm" style="height: 30px;">
                                        <a th:href="@{/listaUsuarios}" class="btn1 link-light" target="_blank"><i class="fa-solid fa-users" style="color: aliceblue;"></i> Usuarios </a>
                                    </div>
                                </li>

                                -->

                                <li class="m-1">

                                    <form th:action="@{/listaAreas}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-users-line" ></i> Areas </button>



                                    </form>
                                </li>

                            </ul>
                        </li>

                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}">
                            <a href="#"><i class="fa-solid fa-table"></i>Parametria</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarFuentes}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-hashtag"></i>
                                            Fuente
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarCuentas}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-list-ol"></i>
                                            Cuentas
                                        </button>
                                    </form>
                                </li>


                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaSucursales}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-building"></i>
                                            Sucursales
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/ListaCentroCostos}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-check-dollar"></i>
                                            Centro de costos
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaMonedas}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-dollar-sign"></i>
                                            Moneda
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarDebitoCredito}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-bills"></i>
                                            Debito/credito
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/MostrarBalance}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-file-arrow-up"></i>
                                            cargar balance
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarCuentasPYG}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-check-dollar"></i>
                                            valores cuenta PYG
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/ListaFechasContable}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-regular fa-calendar"></i>
                                            Fechas contables
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaHorasCorte}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-clock"></i>
                                            Horas corte
                                        </button>
                                    </form>
                                </li>

                            </ul>
                        </li>

                        <li class="uk-nav-divider"></li>

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}">
                            <a href="#"><i class="fa-solid fa-envelope"></i>solicitudes</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1">
                                    <form th:action="@{/listaSolicitudesCambioCon}" class="btn1 rounded shadow-sm "
                                        method="post">
                                        <button type="submit" class="btn1 text-start"><i class="fa-solid fa-unlock"></i>
                                            Solicitud de contraseña </button>
                                    </form>
                                </li>

                                <li class="m-1">
                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm "
                                        method="post">
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-user-plus"></i>
                                            Crear usuario </button>
                                    </form>
                                </li>

                            </ul>
                        </li>

                    <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Centralizador'}"><a
                            href="#"><i class="fa-regular fa-square-check"></i>Planos</a>
                    </li>

                    <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Centralizador'}">
                        <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                        <ul class="uk-nav-sub">
                            <li class="m-1">
                                <form th:action="@{/listaLotesAutorizados}" class="btn1 rounded shadow-sm" method="get">
                                    <button type="submit" class="btn1 "><i class="fa-solid fa-list-check"></i>  Lotes autorizados </button>
                                </form>
                            </li>
    

                        </ul>
                    </li>

                <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Consulta'}"><a
                        href="#"><i class="fa-regular fa-square-check"></i>Planos</a>
                </li>

                <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Consulta'}">
                    <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                    <ul class="uk-nav-sub">
                        <li class="m-1">
                            <form th:action="@{/verTrazabilidadlotes}" class="btn1 rounded shadow-sm" method="get">

                            

                                <button type="submit" class="btn1 "><i class="fa-solid fa-magnifying-glass"></i>  ver lotes </button>
                            </form>
                        </li>


                    </ul>
                </li>

                    </ul>



                </div>


            </div>

            <div class="col-md-10 p-0">

                <div class=" text-center">

                    <!-- barra de navegacion -->
                    <nav class="navbar navbar-expand-lg bg-body-tertiary ">

                        <div class="container-fluid">


                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                    <img th:src="@{/icons/logo.png}"
                                        style="alt: 40px; height: 40px;"><span class="m-2"
                                        style="text-decoration:none">SIC</span>


                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" th:href="@{/Home}">Inicio</a>
                                    </li>


                                

                                   
       

                                </ul>
                 
                                <span class="navbar-text p-0">
                                    
                                    <span class="m-2 ">Rol : <span sec:authentication="principal.authorities"></span>
                                    </span>
                                    <span class="m-2 ">nombre de usuario : <span sec:authentication="name"></span>
                                    </span>

                                </span>

                                <span class="navbar-text p-0">
                                    <div class="btn-group ">
                                        <button type="button" class="btn dropdown-toggle " data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="fa-solid fa-circle-user"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">

                                            <form th:action="@{/logout}" method="post" class="btn ">
                                                <button class="btn btn-light" type="submit">Cerrar sesión</button>
                                            </form>

                                        </ul>
                                    </div>
                                </span>

                            </div>
                        </div>
                    </nav>


                    <div class="col-md m-3">

                        <div class="container text-center shadow p-3 mb-5 bg-body-tertiary rounded " >
                            <div class="row p-4">
                                <div class="col align-self-center">
                                    <p class="text-uppercase fs-4 fw-semibold">Buscar lote </p>
                                </div>
        
                            </div>
        
                            <div class="row ">
        
                                <form th:action="@{/GuardarDatosBusqueda}" method="get">

                                    <div class="align-items-start ">
        
                                        <div class="row g-2">
    
                                            <div class="col-md">
                                              <div class="form-floating">
                                                <input type="text" class="form-control" id="floatingInputGrid" placeholder="name@example.com" th:name = "analista" value="" required>
                                                <label for="floatingInputGrid">Analista</label>
                                              </div>
                                            </div>
    
                                            <div class="col-md">
                                                <div class="form-floating">
                                                  <input type="text" class="form-control" id="floatingInputGrid" placeholder="name@example.com" th:name = "autorizador" value="" required>
                                                  <label for="floatingInputGrid">Autorizador</label>
                                                </div>
                                              </div>

    
                                              <div class="col-md">
                                                <div class="form-floating">
                                                  <input type="date" class="form-control" id="floatingInputGrid" placeholder="name@example.com" th:name="fecha1" value="" required>
                                                  <label for="floatingInputGrid">Fecha 1 </label>
                                                </div>
                                              </div>
    
                                              <div class="col-md">
                                                <div class="form-floating">
                                                  <input type="date" class="form-control" id="floatingInputGrid" placeholder="name@example.com" th:name="fecha2" value="" required>
                                                  <label for="floatingInputGrid">Fecha 1 </label>
                                                </div>
                                              </div>
    
    
                                              <div class="d-grid gap-2 d-md-block">
                                                <button class="btn btn-dark btn-sm" type="submit"> <i class="fa-solid fa-magnifying-glass"></i> Filtrar</button>
                                                
                                              </div>
            
                                    </div>

                                </form>


                            </div>

                            <div class="row">

                                <div class="align-items-start uk-margin-medium-bottom">
                                    <div class="row">

                                        <div class="col-2">
  
                                                <button class="btn-dark btn btn-sm" type="button"> <i class="fa-solid fa-plus"></i> Buscar por filtro </button>
                                                <div uk-dropdown="mode: click ">
                                                    <ul class="uk-nav uk-dropdown-nav">
                                                        <li class="uk-nav-header m-2">Buscar por : </li>
                                                        <li class="uk-active">
                                        
                                                            <form class="row g-3" th:action="@{/}">
                                                                <div class="col-auto">
                                                                  <label for="staticEmail2" class="visually-hidden">Nombre analista</label>
                                                                  <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Nombre Analista">
                                                                </div>
                                                                <div class="col-auto">
                                                                  <label for="inputPassword2" class="visually-hidden">Nombre analista</label>
                                                                  <input type="password" class="form-control form-control-sm" id="inputPassword2" th:name="nombreAnalista" placeholder="Nombre analista">
                                                                </div>
                                                                <div class="col-auto">
                                                                  <button type="submit" class="btn btn-sm btn-dark mb-3"><i class="fa-solid fa-magnifying-glass"></i></button>
                                                                </div>
                                                              </form>

                                                        </li>
                                                        <li class="uk-nav-divider"></li>

                                                        <li class="uk-active">
                                        
                                                            <form class="row g-3">
                                                                <div class="col-auto">
                                                                  <label for="staticEmail2" class="visually-hidden">Email</label>
                                                                  <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Autorizador">
                                                                </div>
                                                                <div class="col-auto">
                                                                  <label for="inputPassword2" class="visually-hidden">Password</label>
                                                                  <input type="password" class="form-control form-control-sm" id="inputPassword2" placeholder="Nombre Autorizador">
                                                                </div>
                                                                <div class="col-auto">
                                                                    <button type="submit" class="btn btn-sm btn-dark mb-3"><i class="fa-solid fa-magnifying-glass"></i></button>

                                                                </div>
                                                              </form>

                                                        </li>
                            
                                                        <li class="uk-nav-divider"></li>
                                                        
                                                        <li class="uk-active">
                                        
                                                            <form class="row g-3">

                                                                <div class="col-auto">
                                                                    <label for="staticEmail2" class="visually-hidden">Fecha</label>
                                                                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Fecha">
                                                                  </div>

                                                                <div class="col-md">
                                                                    <div class="form-floating">
                                                                      <input type="date" class="form-control form-control-sm" id="floatingInputGrid" placeholder="name@example.com" th:name="fecha1" value="" required>
                                                                      <label for="floatingInputGrid">Fecha 1 </label>
                                                                    </div>
                                                                  </div>
                        
                                                                  <div class="col-md">
                                                                    <div class="form-floating">
                                                                      <input type="date" class="form-control form-control-sm" id="floatingInputGrid" placeholder="name@example.com" th:name="fecha2" value="" required>
                                                                      <label for="floatingInputGrid">Fecha 1 </label>
                                                                    </div>
                                                                  </div>

                                                                  <div class="col-auto">
                                                                    <button type="submit" class="btn btn-sm btn-dark mb-3"><i class="fa-solid fa-magnifying-glass"></i></button>

                                                                </div>

                                                              </form>

                                                        </li>

        


                                                    </ul>
                                                </div>

                                          </div>
                                        
                       

                                    </div>
                                </div>

                            </div>

                            
        
                            
                            <div class="table-responsive">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            
                                           
                                            <th scope="col">idLote</th>
                                            <th scope="col"># Registros</th>
                                            <th scope="col">Valor Débito</th>
                                            <th scope="col">Valor Crédito</th>
                                            <th scope="col">Total General</th>
                                            <th scope="col">Estado</th>
                                            <th scope="col"># Errores</th>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Fecha Proceso</th>
                                            <th scope="col">Nombre Archivo</th>
                                            <th scope="col">Motivo de devolución</th>
                                            <th scope="col">Resumen</th>
                                            <th scope="col">Descargar</th>
                                            
                                            
                                            <th scope="col">Actualizar estado</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="lotes: ${lote}">
                                           
                                            <td>
                                                <a class="nav-link active" aria-current="page" th:href="@{'verdetallesLote/{id}' (id=${lotes.IdLote})}"><span th:text="${lotes.IdLote}"></span></a>
                                            </td>
                                            <td th:text="${lotes.catidadaregistros}" ></td>
                                            <td th:text="${lotes.ValorDebitoNumerico}" ></td>
                                            <td th:text="${lotes.ValorCreditoNumerico}" ></td>
                                            <td th:text="${lotes.ValorPesosNumerico}" ></td>
                                            <td th:text="${lotes.EstadoLote}" ></td>
                                            <td th:text="${lotes.NumeroErrores}" ></td>
                                            <td th:text="${lotes.TipoLote}" ></td>
                                            <td th:text="${lotes.FechaProceso}" ></td>
                                            <td th:text="${lotes.NombreArchivo}" ></td>
                                            <td th:text="${lotes.comentario}" ></td>

                                            <td class="">
                                                <a th:href="@{'MostrarResumen/{id}' (id=${lotes.IdLote})}">
                                                    
                                                    <i class="fa-solid fa-eye" style="color: rgb(78, 74, 74);"></i>
                                                   
                                                </a>
                                            </td>
                              
                                            <td class="">
                                                <a th:href="@{'/AbrirLote/{id}' (id=${lotes.IdLote})}">
    
                                                    <i class="fa-solid fa-file-arrow-down" style="color: rgb(25, 94, 19);"></i>
                                                   
                                                </a>
                                            </td>

                                            <td class="">
                                                <a th:href="@{actualizarEstado}">
                                                    
                                                    <i class="fa-solid fa-arrows-rotate" style="color: rgb(17, 144, 212);"></i>

                                                   
                                                </a>
                                            </td>



                                        </tr>
                
                                    </tbody>
                                </table>

                            </div>
                          
                            <div class="row m-1">
                                <div class="col align-self-center">

                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center ">

                                            <ul class="pagination">
                                                <li class="page-item">
                                                    
                                                    <span class="page-link" th:if="${page.first}">Primera</span>
                                                    
                                                    <a class="page-link" th:if="${not page.first}" th:href="@{${page.url}(page=0)}">Primera</a>
                                                
                                                </li>

                                                <!--
                                                <li class="page-item">
                                                    
                                                    <span class="page-link" th:if="${not page.hasPrevious}"></span>
                                                    
                                                    <a class="page-link" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.paginaActual-2})}"><<</a>
                                                
                                                </li>
                                                
                                                -->
                                                
                                                <li class="page-item" th:each="item : ${page.paginas}" th:class="${item.actual? 'page-item active': 'page-item'}">
                                                    
                                                    <span class="page-link" th:if="${item.actual}" th:text="${item.numero}"></span>
                                                    
                                                    <a class="page-link" th:if="${not item.actual}" th:href="@{${page.url}(page=${item.numero-1})}" th:text="${item.numero}"></a>
                                                
                                                </li>

                                                <!--
                                                <li class="page-item">
                                                    
                                                    <span class="page-link" th:if="${not page.hasNext}">&raquo;</span>
                                                    
                                                    <a class="page-link" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.paginaActual})}">>></a>
                                                
                                                </li>
                                                -->
                                                
                                                <li class="page-item">
                                                    
                                                    <span class="page-link" th:if="${page.last}">&Uacute;ltima</span>
                                                    <a class="page-link" th:if="${not page.last}" th:href="@{${page.url}(page=${page.totalPaginas-1})}">&Uacute;ltima</a>
                                                </li>
                                            </ul>

                                        </ul>
                                    </nav>
                                </div>

                            </div>
        
        
        
                        </div>
        
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>


    <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50" style="background-color: rgb(9, 42, 140);">
        <div class="container text-center">

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" >administracionlotes@pichincha.com.co</a>
                </li>
                
            </ul>



        </div>
    </footer>





    <!-- UIkit JS sprintboot-->

    <script src=" /static/js/uikit-icons.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
    <script src="/static/js/uikit.js"></script>

    <script th:src="@{js/uikit-icons.js}"></script>
    <script th:src="@{js/uikit-icons.min.js}"></script>
    <script th:src="@{js/uikit.js}"></script>


    <!-- Boostrap js visual -->

    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/all.js"></script>
    <script src="/static/js/"></script>


    <!-- Boostrap js sprintBoot -->

  <script th:src="@{js/bootstrap.bundle.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/bootstrap.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/all.js}"></script> 



</body>

</html>