<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="shortcut icon" th:href="@{/icons/logo.png}">


    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/uikit.css} " rel="stylesheet" />
    <link th:href="@{/css/all.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">



    <!-- UIkit CSS para visual -->

    <link href="/static/css/uikit.css" rel="stylesheet" />
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/all.css" rel="stylesheet">




</head>

<body style="overflow-x:hidden ;">




    <!-- panel general para plantillas -->

    <div class="container-fluid text-center">
        <div class="row">

            <div class="col-md-2 p-0 ">

                <!-- uk-height-1-1 -->

                <div class="uk-card uk-card-default uk-card-body shadow rounded uk-height-1-1"
                    style=" background-color: #f8df00 ;">
                    <ul class="uk-nav-default" uk-nav>


                        <!-- <img th:src="@{/Img/logo2.PNG}" style="alt: 30px; height: 30px;"> -->
                        <img th:src="@{/Img/pichinchaLogo.jpg}">

                        <!-- Opciones de administrador -->



                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Analista Contable'}"><a
                                href="#"><i class="fa-solid fa-file-excel"></i>Lote</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Analista Contable'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/lote}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-table"></i> cargar Lote
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/EstadoPlanosAnalista}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-circle-info"></i> Estado Lotes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>

                    <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Auditor'}"><a
                            href="#"><i class="fa-solid fa-magnifying-glass"></i> Auditoria</a>
                    </li>

                    <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Auditor'}">
                        <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                        <ul class="uk-nav-sub">

                            <li class="m-1">
                                <form th:action="@{/ListaPlanosCargados}" class="btn1 rounded shadow-sm" method="get">
                                    <button type="submit" class="btn1 "> <i class="fa-solid fa-file-export"></i> historial planos
                                    </button>
                                </form>
                            </li>

                            <li class="m-1">

                                <form th:action="@{/listaLotesInforme}" class="btn1 rounded shadow-sm " method="get">
                                    <button type="submit" class="btn1 text-start">
                                        <i class="fa-solid fa-folder-tree"></i> Filtrar lote </button>



                                </form>
                            </li>

                            <li class="m-1">
                                <form th:action="@{/logs}" class="btn1 rounded shadow-sm" method="get">
                                    <button type="submit" class="btn1 "> <i class="fa-solid fa-clock-rotate-left"></i> historial planos
                                    </button>
                                </form>
                            </li>

                        </ul>
                    </li>
                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Autorizador nivel 1'}"><a
                                href="#"><i class="fa-regular fa-circle-check"></i>Autorizador Nivel 1</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Autorizador nivel 1'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja entrada 
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/listaSolicitudesCrearUsuarioAutori}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudesBloquearUsuario}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            
                                            <i class="fa-solid fa-user-lock"></i> Bloquear usuario </button>



                                    </form>
                                </li>

                            </ul>
                        </li>

                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Autorizador nivel 2'}"><a
                                href="#"><i class="fa-regular fa-circle-check"></i>Autorizador Nivel 2</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Autorizador nivel 2'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja entrada 
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/listaSolicitudesCrearUsuarioAutori}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudesBloquearUsuario}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            
                                            <i class="fa-solid fa-user-lock"></i> Bloquear usuario </button>



                                    </form>
                                </li>

             

                            </ul>
                        </li>

                    <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Director Contable'}"><a
                            href="#"><i class="fa-regular fa-circle-check"></i>Director Contable</a>
                    </li>

                    <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Director Contable'}">
                        <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                        <ul class="uk-nav-sub">
                            <li class="m-1">
                                <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm" method="get">
                                    <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja entrada 
                                    </button>
                                </form>
                            </li>
                            <li class="m-1">

                                <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm " method="get">
                                    <button type="submit" class="btn1 text-start">
                                        <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                                </form>
                            </li>

                            <li class="m-1">

                                <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm " method="get">
                                    <button type="submit" class="btn1 text-start">
                                        <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                                </form>
                            </li>

                            <li class="m-1">

                                <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm " method="get">
                                    <button type="submit" class="btn1 text-start">
                                        <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                                </form>
                            </li>

                            <li class="m-1">

                                <form th:action="@{/listaSolicitudesCrearUsuarioAutori}" class="btn1 rounded shadow-sm " method="get">
                                    <button type="submit" class="btn1 text-start">
                                        <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                                </form>
                            </li>

                            <li class="m-1">

                                <form th:action="@{/SolicitudesBloquearUsuario}" class="btn1 rounded shadow-sm " method="get">
                                    <button type="submit" class="btn1 text-start">
                                        
                                        <i class="fa-solid fa-user-lock"></i> Bloquear usuario </button>



                                </form>
                            </li>

                        </ul>
                    </li>
                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}"><a
                                href="#"><i class="fa-solid fa-user-plus"></i>Admin</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                               
                                <li class="m-1">
                                    <form th:action="@{/listaUsuarios}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-users"></i> Usuarios
                                        </button>
                                    </form>
                                </li>

                                <!--
                                <li class="m-1">
                                    <div  class="btn1 rounded shadow-sm" style="height: 30px;">
                                        <a th:href="@{/listaUsuarios}" class="btn1 link-light" target="_blank"><i class="fa-solid fa-users" style="color: aliceblue;"></i> Usuarios </a>
                                    </div>
                                </li>

                                -->

                                <li class="m-1">

                                    <form th:action="@{/listaAreas}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-users-line" ></i> Areas </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/EstadoPlanos}" class="btn1 rounded shadow-sm " method="get">
                                                                 
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-file-circle-check" ></i> Estado Lotes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>

                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}">
                            <a href="#"><i class="fa-solid fa-table"></i>Parametria</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarFuentes}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-hashtag"></i>
                                            Fuente
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarCuentas}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-list-ol"></i>
                                            Cuentas
                                        </button>
                                    </form>
                                </li>


                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaSucursales}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-building"></i>
                                            Sucursales
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/ListaCentroCostos}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-check-dollar"></i>
                                            Centro de costos
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaMonedas}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-dollar-sign"></i>
                                            Moneda
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarDebitoCredito}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-bills"></i>
                                            Débito/crédito
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/MostrarBalance}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-file-arrow-up"></i>
                                            cargar balance
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarCuentasPYG}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-check-dollar"></i>
                                            valores cuenta PYG
                                        </button>
                                    </form>
                                </li>

                                <!--
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/ListaFechasContable}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-regular fa-calendar"></i>
                                            Fechas contables
                                        </button>
                                    </form>
                                </li>
                                -->
                                <!--
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaHorasCorte}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-clock"></i>
                                            Horas corte
                                        </button>
                                    </form>
                                </li>
                                -->
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaTrm}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-dollar-sign"></i>
                                            TRM
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaCuentasExcep}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                      

                                            <i class="fa-solid fa-question"></i>
                                    
                                            Cuentas Exceptuadas
                                        </button>
                                    </form>
                                </li>

                            </ul>
                        </li>

                        

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}">
                            <a href="#"><i class="fa-solid fa-envelope"></i>solicitudes</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1">
                                    <form th:action="@{/listaSolicitudesCambioCon}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start"><i class="fa-solid fa-unlock"></i>
                                            Solicitud de contraseña </button>
                                    </form>
                                </li>

                                <li class="m-1">
                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-user-plus"></i>
                                            Crear usuario </button>
                                    </form>
                                </li>

                                

                                

                            </ul>
                        </li>

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Centralizador'}"><a
                            href="#"><i class="fa-regular fa-square-check"></i>Planos</a>
                    </li>

                    <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Centralizador'}">
                        <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                        <ul class="uk-nav-sub">
                            <li class="m-1">
                                <form th:action="@{/listaLotesAutorizados}" class="btn1 rounded shadow-sm" method="get">
                                    <button type="submit" class="btn1 "><i class="fa-solid fa-list-check"></i>  Lotes autorizados </button>
                                </form>
                            </li>

                            <!--
                            <li class="m-1">
                                <form th:action="@{/listaHorasCorte}" class="btn1 rounded shadow-sm" method="get">
                                <button type="submit" class="btn1 ">
                                    <i class="fa-solid fa-clock"></i> Horas corte
                                </button>
                            </form>
                            </li>
                            -->

                            <li class="m-1" th:if="${rol == 'Centralizador'}">
                                <form th:action="@{/ListaFechasContable}" class="btn1 rounded shadow-sm"
                                    method="get">
                                    <button type="submit" class="btn1 ">
                                        <i class="fa-regular fa-calendar"></i>
                                        Fechas contables
                                    </button>
                                </form>
                            </li>

                            <li class="m-1">
                                <form th:action="@{/lote}" class="btn1 rounded shadow-sm" method="get">
                                <button type="submit" class="btn1 ">
                                    <i class="fa-solid fa-clock"></i> cargar lote
                                </button>
                            </form>
                            </li>


                        </ul>
                    </li>

                    <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Consulta'}">
                        
                        <a href="#"><i class="fa-solid fa-magnifying-glass"></i>Consulta</a>
                </li>

                <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Consulta'}">
                    <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                    <ul class="uk-nav-sub">
                        <li class="m-1">
                            <form th:action="@{/verTrazabilidadlotes}" class="btn1 rounded shadow-sm" method="get">
                                <button type="submit" class="btn1 "><i class="fa-solid fa-list-check"></i>  Ver lotes </button>
                            </form>
                        </li>

                 

                    </ul>
                </li>


                    </ul>



                </div>


            </div>

            <div class="col-md p-0">

                <div class="container-lxx text-center">

                    <!-- barra de navegación -->
                    <nav class="navbar navbar-expand-lg bg-body-tertiary ">

                        <div class="container-fluid">


                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                    <img th:src="@{/icons/logo.png}" style="alt: 40px; height: 40px;"><span class="m-2"
                                        style="text-decoration:none">SIC</span>

 
                                        <li class="nav-item" th:if="${rol == 'Administrador'}">
                                            <form th:action="@{/listaSolicitudesCrearUsuario}" method="post">
                                                <button type="submit" class="btn ">
                                                    <i class="fa-solid fa-user-plus"></i><span class="badge text-warning rounded-circle "><span th:text="${numeroSolicitudes}"></span>
                                                </button>
                                            </form>
    
                                        </li>
    
                                        <li class="nav-item " th:if="${rol == 'Administrador'}">
                                            <form th:action="@{/listaSolicitudesCambioCon}" method="post">
                                                <button type="submit" class="btn ">
                                                    <i class="fa-solid fa-unlock-keyhole"></i><span class="badge text-warning rounded-circle "><span th:text="${CatidadSolicitudesCambio}"></span>
                                                </button>
                                            </form>
    
                                        </li>

                                        <li class="nav-item " >
                                            <form th:action="@{/notificaciones}" method="get">
                                                <button type="submit" class="btn ">
                                                    <i class="fa-regular fa-envelope"></i><span class="badge text-warning rounded-circle "><span th:text="${cantidadMensajes}"></span>
                                                </button>
                                            </form>


                     

                                        </li>
                                       
           

                                </ul>

                                <span class="navbar-text p-0">

                                    
                                    <span class="m-2 navbar-text " th:if="${rol != 'Administrador'}">Area : <span th:text="${Area}"></span> </span>
                                    <span class="m-2 ">Rol : <span sec:authentication="principal.authorities"></span>
                                    </span>
                                    <span class="m-2 ">nombre de usuario : <span sec:authentication="name"></span>
                                    </span>

                                </span>

                                <span class="navbar-text p-0">
                                    <div class="btn-group ">
                                        <button type="button" class="btn dropdown-toggle " data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="fa-solid fa-circle-user"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">

                                            <form th:action="@{/logout}" method="post" class="btn ">
                                                <button class="btn btn-light" type="submit">Cerrar sesión</button>
                                            </form>

                                        </ul>
                                    </div>
                                </span>

                            </div>
                        </div>
                    </nav>


                    <div class="col-md m-5 shadow p-2  bg-body-tertiary rounded">


                        <div class="row uk-margin-medium-bottom">
                            <div class="col align-self-center">
                                <p class="text-uppercase fs-4 fw-semibold">Panel principal</p>
                            </div>

                            <h6 th:if="${rol == 'Administrador'}" th:text="${Area}"></h6>

                        </div>

                        
								<div th:if="${cantidadMensajes > 0 }">
									<div class="col align-self-center uk-animation-slide-top">
										<div class="alert alert-warning alert-dismissible fade show" role="alert">
											<span>Tienes nuevas notificaciones </span>
											<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
										</div> 
									</div>
								</div>





                        <div class="container text-center uk-margin-xlarge-bottom">

                            <div class="row row-cols-1 row-cols-md-3 g-4 ">

                                <div th:if="${rol == 'Analista Contable'}">

                                    <div class="col uk-animation-toggle" tabindex="0">
                                        <div class="card h-100 shadow p-3 uk-animation-scale-up rounded"
                                            style="background-color: #f8df00;">
                                            <i class="fa-solid fa-users m-2 fa-3x"></i>
                                            <div class="card-body">
                                                <h5 class="card-title">Lotes</h5>
                                                <p class="card-text">Opciones</p>
                                                <div class="row">

                                                    <a th:href="@{/lote}" class="link-dark">cargar lote</a>
                                                    <a th:href="@{/EstadoPlanosAnalista}" class="link-dark">Estado lote</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div th:if="${rol == 'Administrador'}">

                                    <div class="col uk-animation-toggle" tabindex="0">
                                        <div class="card h-100 shadow p-3 uk-animation-scale-up rounded"
                                            style="background-color: #f8df00;">
                                            <i class="fa-solid fa-users m-2 fa-3x"></i>
                                            <div class="card-body">
                                                <h5 class="card-title">Administrador</h5>
                                                <p class="card-text">Opciones</p>
                                                <div class="row">

                                                    <a th:href="@{/listaAreas}" class="link-dark">Areas</a>
                                                    <a th:href="@{/listaUsuarios}" class="link-dark">Usuarios</a>
                                                    <a th:href="@{/EstadoPlanos}" class="link-dark">Estados lotes</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div th:if="${rol == 'Auditor'}">

                                    <div class="col uk-animation-toggle" tabindex="0">
                                        <div class="card h-100 shadow p-3 uk-animation-scale-up rounded"
                                            style="background-color: #f8df00;">
                                            <i class="fa-solid fa-glasses m-2 fa-3x"></i>
                                            
                                            <div class="card-body">
                                                <h5 class="card-title">Auditoria</h5>
                                                <p class="card-text">Opciones</p>
                                                <div class="row">

                                                    <a th:href="@{/ListaPlanosCargados}" class="link-dark">Historial planos </a>
                                                    <a th:href="@{/listaLotesInforme}" class="link-dark">Consultar lote</a>
                                                    <a th:href="@{/logs}" class="link-dark">Registros</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div th:if="${rol == 'Administrador'}">

                                    <div class="col uk-animation-toggle" tabindex="0">
                                        <div class="card h-100 shadow p-3 uk-animation-scale-up rounded"
                                            style="background-color: #f8df00;">
                                            <i class="fa-solid fa-table m-2 fa-3x"></i>
                                            <div class="card-body">
                                                <h5 class="card-title">Parametria</h5>
                                                <p class="card-text">Opciones</p>
                                                <div class="row">

                                                    <a th:href="@{/listarFuentes}" class="link-dark">Fuentes</a>
                                                    <a th:href="@{/listarCuentas}" class="link-dark">Cuentas</a>
                                                    <a th:href="@{/listaSucursales}" class="link-dark">Sucursales</a>
                                                    <a th:href="@{/listaMonedas}" class="link-dark">Moneda</a>
                                                    <a th:href="@{/ListaCentroCostos}" class="link-dark">Centro costos</a>
                                                    <a th:href="@{/listarDebitoCredito}" class="link-dark">Débito/Crédito</a>
                                                    <a th:href="@{/MostrarBalance}" class="link-dark">Cargar balance</a>
                                                    <a th:href="@{/listarCuentasPYG}" class="link-dark">Cargar valores de cuentas PYG</a>
                                                    <!--
                                                    <a th:href="@{/ListaFechasContable}" class="link-dark">Cargar fechas contables</a>
                                                    -->
                                                    <!--
                                                    <a th:href="@{/listaHorasCorte}" class="link-dark">Horas de corte</a>
                                                    -->
                                                    <a th:href="@{/listaTrm}" class="link-dark">TRM</a>
                                                    <a th:href="@{/listaCuentasExcep}" class="link-dark">Cuentas Exceptuadas</a>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div th:if="${rol == 'Autorizador nivel 1'}">

                                    <div class="col uk-animation-toggle" tabindex="0">
                                        <div class="card h-100 shadow p-3 uk-animation-scale-up rounded"
                                            style="background-color: #f8df00;">
                                            
                                            <i class="fa-solid fa-check-double m-2 fa-3x"></i>
                                            <div class="card-body">
                                                <h5 class="card-title">Autorización</h5>
                                                <p class="card-text">Opciones</p>
                                                <div class="row">

                                                    <a th:href="@{/bandejaEntradaLote}" class="link-dark">Bandeja lotes</a>
                                                    <a th:href="@{/lotesRechazados}" class="link-dark">Lotes rechazados</a>
                                                    <a th:href="@{/lotesAprobados}" class="link-dark">Lotes aprobados</a>
                                                    <a th:href="@{/SolicitudUsuariosCrear}" class="link-dark">Solicitar crear usuario</a>
                                                    <a th:href="@{/listaSolicitudesCrearUsuarioAutori}" class="link-dark">lista solicitudes </a>
                                                    <a th:href="@{/EstadoPlanosAutorizador}" class="link-dark">Estado de lotes </a>
                                                    <a th:href="@{/SolicitudesBloquearUsuario}" class="link-dark">Solicitar Bloqueo Usuario </a>

                  
                                                        
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div th:if="${rol == 'Director Contable'}">

                                    <div class="col uk-animation-toggle" tabindex="0">
                                        <div class="card h-100 shadow p-3 uk-animation-scale-up rounded"
                                            style="background-color: #f8df00;">
                                            
                                            <i class="fa-solid fa-check-double m-2 fa-3x"></i>
                                            <div class="card-body">
                                                <h5 class="card-title">Autorización</h5>
                                                <p class="card-text">Opciones</p>
                                                <div class="row">

                                                    <a th:href="@{/bandejaEntradaLote}" class="link-dark">Bandeja lotes</a>
                                                    <a th:href="@{/lotesRechazados}" class="link-dark">lotes rechazados</a>
                                                    <a th:href="@{/lotesAprobados}" class="link-dark">lotes aprobados</a>
                                                    <a th:href="@{/SolicitudUsuariosCrear}" class="link-dark">Solicitar crear usuario</a>
                                                    <a th:href="@{/listaSolicitudesCrearUsuarioAutori}" class="link-dark">lista solicitudes </a>
                                                    <a th:href="@{/EstadoPlanosAutorizador}" class="link-dark">Estado de lotes </a>

                  
                                                        
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div th:if="${rol == 'Autorizador nivel 2'}">

                                    <div class="col uk-animation-toggle" tabindex="0">
                                        <div class="card h-100 shadow p-3 uk-animation-scale-up rounded"
                                            style="background-color: #f8df00;">
                                            
                                            <i class="fa-solid fa-check-double m-2 fa-3x"></i>
                                            <div class="card-body">
                                                <h5 class="card-title">Autorización</h5>
                                                <p class="card-text">Opciones</p>
                                                <div class="row">

                                                    <a th:href="@{/listaLotesAutorizar}" class="link-dark">Bandeja lotes</a>
                                                    <a th:href="@{/lotesRechazados}" class="link-dark">lotes rechazados</a>
                                                    <a th:href="@{/lotesAprobados}" class="link-dark">lotes aprobados</a>
                                                    <a th:href="@{/SolicitudUsuariosCrear}" class="link-dark">Solicitar crear usuario</a>
                                                    <a th:href="@{/listaSolicitudesCrearUsuarioAutori}" class="link-dark">lista solicitudes </a>
                                                    <a th:href="@{/SolicitudUsuariosCrear}" class="link-dark">Solicitar Crear Usuario </a>
                                                    <a th:href="@{/SolicitudesBloquearUsuario}" class="link-dark">Bloqueo Crear Usuario </a>
                  
                                                        
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div th:if="${rol == 'Centralizador'}">

                                    <div class="col uk-animation-toggle" tabindex="0">
                                        <div class="card h-100 shadow p-3 uk-animation-scale-up rounded"
                                            style="background-color: #f8df00;">
                                            
                                            <i class="fa-solid fa-file-export m-2 fa-3x"></i>
                                            <div class="card-body">
                                                <h5 class="card-title">Planos</h5>
                                                <p class="card-text">Opciones</p>
                                                <div class="row">

                                                    <a th:href="@{/listaLotesAutorizados}" class="link-dark">Bandeja lotes</a>
                                                    <!--
                                                    <a th:href="@{/listaHorasCorte}" class="link-dark">Horas de corte</a>
                                                    -->
                                                    <a th:href="@{/lote}" class="link-dark">Cargar lote</a>
                                                    <a th:href="@{/ListaFechasContable}" class="link-dark">Cargar fechas contables</a>

                  
                                                        
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                                <div th:if="${rol == 'Administrador'}">

                                    <div class="col uk-animation-toggle" tabindex="0">
                                        <div class="card h-100 shadow p-3 uk-animation-scale-up rounded"
                                            style="background-color: #f8df00;">
                                            <i class="fa-solid fa-envelope m-2 fa-3x"></i>
                                            <div class="card-body">
                                                <h5 class="card-title">Solicitudes</h5>
                                                <p class="card-text">Opciones</p>
                                                <div class="row">

                                                    <form th:action="@{/listaSolicitudesCrearUsuario}" method="post">
                                                        <button class="btn btn-link"><a class="link-dark">Crear usuario</a></button>
                                                    </form>

                                                    <form th:action="@{/listaSolicitudesCambioCon}" method="post">
                                                        <button class="btn btn-link"><a class="link-dark">Cambiar contraseña</a></button>
                                                    </form>
                                                 

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div th:if="${rol == 'Consulta'}">

                                    <div class="col uk-animation-toggle" tabindex="0">
                                        <div class="card h-100 shadow p-3 uk-animation-scale-up rounded"
                                            style="background-color: #f8df00;">

                                            <i class="fa-solid fa-magnifying-glass m-2 fa-3x"></i>
                                            <div class="card-body">
                                                <h5 class="card-title">Consulta</h5>
                                                <p class="card-text">Opciones</p>
                                                <div class="row">

                                                    <a th:href="@{/verTrazabilidadlotes}" class="link-dark">Ver lotes</a>
                                                    

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>


    <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50" style="background-color: rgb(9, 42, 140);">
        <div class="container text-center">

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" >administracionlotes@pichincha.com.co</a>
                </li>
                
            </ul>



        </div>
    </footer>





    <!-- UIkit JS sprintboot-->

    <script src=" /static/js/uikit-icons.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
    <script src="/static/js/uikit.js"></script>


    <!-- UIkit JS sprintboot-->

    <script th:src="@{/js/uikit-icons.js}"></script>
    <script th:src="@{/js/uikit-icons.min.js}"></script>
    <script th:src="@{/js/uikit.js}"></script>


    <!-- Boostrap js visual -->

    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/all.js"></script>
    <script src="/static/js/"></script>


    <!-- Boostrap js sprintBoot -->

    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/all.js}"></script> 



</body>

</html>