<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- 
  <meta http-equiv="Content-Security-Policy" content= "script-src 'self'; style-src 'self'; form-action 'self'; img-src 'self'; font-src fonts.googleapis.com;">
    -->

  <!--   
  <meta http-equiv="Content-Security-Policy" content= "default-src 'self'"> 
  -->
  
<!---->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet"> 


  <!--llamar estilos thymeleaf-->

  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/uikit.css} " rel="stylesheet" />
  <link th:href="@{/css/all.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
  <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet">
  <link th:href="@{/css/style.css}" rel="stylesheet">

  

  <!-- Bootstrap CSS visual studio code -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link href="/static/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css">

   <!-- Style personalizada para login -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="/static/css/uikit.css" rel="stylesheet" />
 

  <title>Login </title>
  <link rel="shortcut icon" th:href="@{/icons/logo.png}">
</head>

<body>

  <!-- barra de navegacion -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">

        <!-- 
        <img src="/static/Img/logo2.PNG" style="alt: 30px; height: 30px;">

      -->

        <img th:src="@{/Img/logo2.PNG}" style="alt: 30px; height: 30px;">

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <button class="btn nav-link" type="button">Descripción</button>
            <div uk-dropdown style="background-color: #f6f7fc;">Pestaña de ingreso para los usuarios registrados y
              autorizados para ser uso de la herramienta.</div>
          </li>

        </ul>

      </div>
    </div>
  </nav>

  <!-- cueropo de login -->

  <div class="d-lg-flex half">
    <div class="bg order-md-2" style="background-color: #f6f7fc;">

      <img src="/static/Img/logo2.PNG" class="position-absolute top-50 end-0 translate-middle-y m-4">
      <img th:src="@{/Img/logo2.PNG}" class="position-absolute top-50 end-0 translate-middle-y m-4">
    </div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-8">
            <h3>Ingreso<strong> cargas masivas </strong></h3>

            <div th:if="${param.error}">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong> Usuario o contraseña incorrectos. </strong >
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div> 
            </div>

            <form  th:action="@{/login}" method="post" autocomplete="off">

              <div class="form-group first md-7">
                <label for="username" class="mb-2">Nombre de usuario <i class="fa-solid fa-user-tie"></i></label>
                <input type="email" class="form-control mb-2"  name="username" placeholder="nombre_usuario@pichincha.com.co"
                  id="username" autocomplete="off" required >
              </div>
              <div class="form-group last md-7">
                <label for="password" class="mb-2">Contraseña <i class="fa-solid fa-key"></i></label><button
                  class="btn " style="color: rgb(200, 24, 24);" type="button"><i
                    class="fa-solid fa-circle-exclamation"></i></button>
                <div class="uk-card uk-card-body uk-card-default" uk-drop>Unicamente tiene 3 intentos para ingresar sus
                  datos correctamente.</div>
                <input type="password" name="password"  class="form-control mb-2" placeholder="Tu contraseña" id="password" required>
              </div>

              <div class="d-flex mb-5 align-items-center">
                <label class="control--checkbox mb-0">
                  <span class="ml-auto p-1 "><a th:href="@{/preguntasSeguridad}" class="forgot-pass">Primer ingreso</a></span>
                </label>
                <span class="ml-auto" style="margin-left: 136px;"><a th:href="@{/preguntasRestableContra}"
                    class="forgot-pass">Olvide mi contraseña</a></span>
              </div>

              <div class="d-grid gap-2">
                

                <input type="submit" value="Iniciar sesion" class="btn btn-warning rounded-pill">
                  
              </div>


              <div th:if="${notificacion != null}" class="m-2">
				  
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong th:text="${notificacion}"></strong >
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> 
              </div>

              <div th:if="${param.error}" class="m-2">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong >[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</strong >
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>  
                
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>


  </div>

  <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50" style="background-color: rgb(9, 42, 140);">
    <div class="container text-center">

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active link-light" aria-current="page">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" >administracionlotes@pichincha.com.co</a>
            </li>
            
        </ul>



    </div>
</footer>

  <!-- Boostrap js visual -->

  <script src="/static/js/bootstrap.bundle.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/all.js"></script>
  <script src="/static/js/uikit.js"></script>
  

  <!-- UIkit JS sprintboot-->

  <script th:src="@{/js/uikit-icons.js}"></script>
  <script th:src="@{/js/uikit-icons.min.js}"></script>
  <script th:src="@{/js/uikit.js}"></script>

  <!-- Boostrap js sprintBoot -->

  <script th:src="@{/js/bootstrap.bundle.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/bootstrap.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/all.js}"></script>
    

</body>

</html>