<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preguntas olvidadas</title>
  <link rel="shortcut icon" th:href="@{/icons/logo.png}">

  <!--llamar estilos thymeleaf-->

  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/uikit.css} " rel="stylesheet" />
  <link th:href="@{/css/all.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet">

  <!--llamar estilos visual studio code-->
  <link href="/static/css/uikit.css" rel="stylesheet" />
  <link href="/static/css/bootstrap.css" rel="stylesheet" />
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/css/all.css" rel="stylesheet">
  <script src="/static/js/uikit.js"></script> 


</head>

<body>

 
      <!-- barra de navegacion -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
    
            <!-- 
            <img src="/static/Img/logo2.PNG" style="alt: 30px; height: 30px;">
          -->
    
            <img th:src="@{/Img/logo2.PNG}" style="alt: 30px; height: 30px;">
    
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/login}">Inicio</a>
              </li>
    
              <li class="nav-item">
                <button class="btn nav-link"  type="button">Descripción</button>
                    <div uk-dropdown style="background-color: #f6f7fc;">Pestaña de petición de contraseña, esta pestaña permite al usuario que olvido las respuestas de las preguntas de seguridad informar del caso al admininistrador. <span class="fw-semibold">Nota : El administrador se comunicara via correo informando al usuario que ya puede ingresar (el procedimiento de primer ingreso se debe de hacer nuevamente).</span></div>
              </li>
    
            </ul>
            
          </div>
        </div>
      </nav>

  <div class="container text-center p-5 col-md-6 shadow p-3 mb-5 bg-body-tertiary rounded uk-margin-medium-top" >
    <form th:action="@{/EnviarCorreoContra}" method="post" th:object="${usuarios}" autocomplete="off">

      <div class="row">
        <div class="col align-self-center">
          <p class="text-uppercase fs-3">Enviar petición de contraseña</p>
        </div>
      </div>
      <div class="row">
        <div class="col align-self-center">
          <p class="text-start fw-bold">Nota : se enviara un correo al administrador con la solicitud de cambio de contraseña de manera directa</p>
        </div>
      </div>
      <div class="row">
        <div class="col align-self-center">
          <p class="text-start">Nombre de usuario</p>
        </div>
      </div>

      <div class="row">
        <div class="col align-self-center">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-user"></i></span>
            <input type="text" th:field="*{correo}" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
      </div>



      <div class="row uk-margin-medium-bottom">
        <div class="d-grid gap-2 col-6 mx-auto">
          <div class="d-grid gap-2">
           

            <input type="submit" value="Enviar solicitud" class="btn btn-warning rounded-pill">
      
          </div>
        </div>

      </div>
    </form>
    
  </div>

  <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50" style="background-color: rgb(9, 42, 140);">
    <div class="container text-center">

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active link-light" aria-current="page">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" >administracionlotes@pichincha.com.co</a>
            </li>
            
        </ul>



    </div>
</footer>

 
 

  <script th:src="@{/js/uikit-icons.js}"></script>
  <script th:src="@{/js/uikit-icons.min.js}"></script>
  <script th:src="@{/js/uikit.js}"></script>
  

  <!-- Boostrap js sprintBoot -->

  <script th:src="@{/js/bootstrap.bundle.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/bootstrap.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/all.js}"></script>

  <!-- Boostrap y js visual studio code -->

  <script src=" /static/js/bootstrap.bundle.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/all.js"></script>

</body>

</html>