<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preguntas seguridad</title>
  <link rel="shortcut icon" th:href="@{/icons/logo.png}">


  <!--llamar estilos thymeleaf-->

  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/uikit.css} " rel="stylesheet" />
  <link th:href="@{/css/all.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet">

    <!--llamar estilos visual studio code-->
  <link href="/static/css/uikit.css" rel="stylesheet" />
  <link href="/static/css/bootstrap.css" rel="stylesheet" />
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/css/all.css" rel="stylesheet">


</head>

<body>

     <!-- barra de navegacion -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">

        <!-- 
        <img src="/static/Img/logo2.PNG" style="alt: 30px; height: 30px;">
      -->

        <img th:src="@{/Img/logo2.PNG}" style="alt: 30px; height: 30px;">

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/templates/login.html">Inicio</a>
					</li>

          <li class="nav-item">
            <button class="btn nav-link"  type="button">Descripción</button>
                <div uk-dropdown style="background-color: #f6f7fc;">Pestaña de seguridad, preguntas personales cuyas respuestas seran usadas en el caso de olvido de contraseña por parte del usuario. <span class="fw-semibold">Nota : esta información es totalemnte confidencial para el administrador del sistema.</span></div>
          </li>

        </ul>
        
      </div>
    </div>
  </nav>

  <div class="container text-center p-5 col-md-6 shadow p-3 mb-5 bg-body-tertiary rounded" style="margin-top: 25px;">
    <form th:action="@{/guardarpreguntas}"  th:object="${usuarios}" method="post" autocomplete="off">

      <div class="row">
        <div class="col align-self-center">
          <p class="text-uppercase fs-3">Preguntas de seguridad primer ingreso</p>
        </div>
      </div>

      <div class="row">
        <div class="col align-self-center">
          <p class="text-start">Ingresar correo asignado</p>
        </div>
      </div>

      <div class="row">
        <div class="col align-self-center">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-user"></i></span>
            <input type="text" class="form-control" th:field="*{correo}"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col align-self-center">
          <p class="text-start">1 ¿Cuál es su fecha de nacimiento?</p>
        </div>
      </div>
      <div class="row">
        <div class="col align-self-center">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"><i
                class="fa-regular fa-calendar-days"></i></span>
            <input type="date" class="form-control" th:field="*{fechanacimiento}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col align-self-center">
          <p class="text-start">2 ¿Cuál es la fecha de expedición de su cédula?</p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-regular fa-id-card"></i></span>
            <input type="date" class="form-control" th:field="*{fechaexpedicion}" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" required>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col align-self-center">
          <p class="text-start">3 Últimos tres dígitos de su numero celular  ###</p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"><i
                class="fa-solid fa-phone-volume"></i></span>
            <input type="number" th:field="*{numcelular}" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" required>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="d-grid gap-2 col-6 mx-auto">
          <div class="d-grid gap-2">
          
            <input type="submit" value="Guardar preguntas" class="btn btn-warning rounded-pill">

            
            
          </div>
        </div>

      </div>

      


    </form>

    <div th:if="${notificacion != null}" class="m-2">
				  
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong th:text="${notificacion}"></strong >
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> 
  </div>

  </div>

  <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50" style="background-color: rgb(9, 42, 140);">
    <div class="container text-center">

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active link-light" aria-current="page">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" >administracionlotes@pichincha.com.co</a>
            </li>
            
        </ul>



    </div>
</footer>


  <!-- UIkit JS sprintboot-->

  <script th:src="@{/js/uikit-icons.js}"></script>
  <script th:src="@{/js/uikit-icons.min.js}"></script>
  <script th:src="@{/js/uikit.js}"></script>

  <!-- Boostrap js sprintBoot -->

  <script th:src="@{/js/bootstrap.bundle.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/bootstrap.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/all.js}"></script>


   <!-- Boostrap y js visual studio code -->

   <script src=" /static/js/bootstrap.bundle.js"></script>
   <script src="/static/js/bootstrap.min.js"></script>
   <script src="/static/js/bootstrap.js"></script>
   <script src="/static/js/bootstrap.bundle.min.js"></script>
   <script src="/static/js/all.js"></script>
   <script src="/static/js/uikit.js"></script> 

</body>

</html>