<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de usuarios Usuario</title>
    <link rel="shortcut icon" th:href="@{/icons/logo.png}">

    <!-- UIkit CSS para sprintboot -->

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/uikit.css} " rel="stylesheet" />
    <link th:href="@{/css/all.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <!----->
    <link th:href="@{/css/StyleNotificacions.css}" rel="stylesheet">



    <!-- UIkit CSS para visual -->

    <link href="/static/css/uikit.css" rel="stylesheet" />
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/all.css" rel="stylesheet">



</head>

<body style="overflow-x:hidden ; overflow-y: hidden;">

    <!-- panel general para plantillas -->

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-2 p-0 ">

                <!-- uk-height-1-1 -->

                <div class="uk-card uk-card-default uk-card-body shadow rounded uk-height-1-1"
                    style=" background-color: #f8df00 ;">
                    <ul class="uk-nav-default" uk-nav>


                        <!-- <img th:src="@{/Img/logo2.PNG}" style="alt: 30px; height: 30px;"> -->
                        <img th:src="@{/Img/pichinchaLogo.jpg}">

                        <!-- Opciones de administrador -->





                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Analista Contable'}"><a
                                href="#"><i class="fa-solid fa-file-excel"></i>Lote</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Analista Contable'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/lote}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-table"></i> cargar
                                            Lote
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-circle-info"></i> Historial lote </button>



                                    </form>
                                </li>

                            </ul>
                        </li>



                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Autorizador nivel 1'}"><a
                                href="#"><i class="fa-regular fa-circle-check"></i>Autorizador Nivel 1</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Autorizador nivel 1'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja
                                            entrada
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>



                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Autorizador nivel 2'}"><a
                                href="#"><i class="fa-regular fa-circle-check"></i>Autorizador Nivel 2</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Autorizador nivel 2'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja
                                            entrada
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>


                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}"><a
                                href="#"><i class="fa-solid fa-user-plus"></i>Admin</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1">
                                    <form th:action="@{/listaUsuarios}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-users"></i> Usuarios
                                        </button>
                                    </form>
                                </li>

                                <!--
                                <li class="m-1">
                                    <div  class="btn1 rounded shadow-sm" style="height: 30px;">
                                        <a th:href="@{/listaUsuarios}" class="btn1 link-light" target="_blank"><i class="fa-solid fa-users" style="color: aliceblue;"></i> Usuarios </a>
                                    </div>
                                </li>

                                -->

                                <li class="m-1">

                                    <form th:action="@{/listaAreas}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-users-line"></i> Areas </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/EstadoPlanos}" class="btn1 rounded shadow-sm " method="get">

                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-file-circle-check"></i> Estado Lotes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>



                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}">
                            <a href="#"><i class="fa-solid fa-table"></i>Parametria</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarFuentes}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-hashtag"></i>
                                            Fuente
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarCuentas}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-list-ol"></i>
                                            Cuentas
                                        </button>
                                    </form>
                                </li>


                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaSucursales}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-building"></i>
                                            Sucursales
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/ListaCentroCostos}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-check-dollar"></i>
                                            Centro de costos
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaMonedas}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-dollar-sign"></i>
                                            Moneda
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarDebitoCredito}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-bills"></i>
                                            Debito/credito
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/MostrarBalance}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-file-arrow-up"></i>
                                            cargar balance
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarCuentasPYG}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-check-dollar"></i>
                                            valores cuenta PYG
                                        </button>
                                    </form>
                                </li>

                                <!--
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/ListaFechasContable}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-regular fa-calendar"></i>
                                            Fechas contables
                                        </button>
                                    </form>
                                </li>
                                -->
                                <!--

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaHorasCorte}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-clock"></i>
                                            Horas corte
                                        </button>
                                    </form>
                                </li>

                                -->

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaTrm}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-dollar-sign"></i>
                                            TRM
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaCuentasExcep}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">


                                            <i class="fa-solid fa-question"></i>

                                            Cuentas Exceptuadas
                                        </button>
                                    </form>
                                </li>


                            </ul>
                        </li>

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}">
                            <a href="#"><i class="fa-solid fa-envelope"></i>solicitudes</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1">
                                    <form th:action="@{/listaSolicitudesCambioCon}" class="btn1 rounded shadow-sm "
                                        method="post">
                                        <button type="submit" class="btn1 text-start"><i class="fa-solid fa-unlock"></i>
                                            Solicitud de contraseña </button>
                                    </form>
                                </li>

                                <li class="m-1">
                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm "
                                        method="post">
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-user-plus"></i>
                                            Crear usuario </button>
                                    </form>
                                </li>

                            </ul>
                        </li>

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Centralizador'}"><a
                                href="#"><i class="fa-regular fa-square-check"></i>Planos</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Centralizador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/listaLotesAutorizados}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 "><i class="fa-solid fa-list-check"></i> Lotes
                                            autorizados </button>
                                    </form>
                                </li>


                            </ul>
                        </li>



                    </ul>



                </div>


            </div>

            <div class="col-md-10 p-0">

                <div class="container-lxx ">

                    <!-- barra de navegacion -->
                    <nav class="navbar navbar-expand-lg bg-body-tertiary ">

                        <div class="container-fluid">


                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                    <img th:src="@{/icons/logo.png}" style="alt: 40px; height: 40px;"><span class="m-2"
                                        style="text-decoration:none">SIC</span>


                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" th:href="@{/Home}">Inicio</a>
                                    </li>




                                    <li class="nav-item" th:if="${rol == Administrador}">
                                        <form th:action="@{/listaSolicitudesCrearUsuario}" method="post">
                                            <button type="submit" class="btn ">
                                                <i class="fa-solid fa-user-plus"></i><span
                                                    class="badge text-warning rounded-circle "><span
                                                        th:text="${CatidadSolicitudes}"></span>
                                            </button>
                                        </form>

                                    </li>

                                    <li class="nav-item " th:if="${rol == Administrador}">
                                        <form th:action="@{/listaSolicitudesCambioCon}" method="post">
                                            <button type="submit" class="btn ">
                                                <i class="fa-solid fa-unlock-keyhole"></i><span
                                                    class="badge text-warning rounded-circle "><span
                                                        th:text="${CatidadSolicitudesCambio}"></span>
                                            </button>
                                        </form>

                                    </li>





                                </ul>

                                <span class="navbar-text p-0">

                                    <span class="m-2 ">Rol : <span sec:authentication="principal.authorities"></span>
                                    </span>
                                    <span class="m-2 ">nombre de usuario : <span sec:authentication="name"></span>
                                    </span>

                                </span>

                                <span class="navbar-text p-0">
                                    <div class="btn-group ">
                                        <button type="button" class="btn dropdown-toggle " data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="fa-solid fa-circle-user"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">

                                            <form th:action="@{/logout}" method="post" class="btn ">
                                                <button class="btn btn-light" type="submit">Cerrar sesión</button>
                                            </form>

                                        </ul>
                                    </div>
                                </span>

                            </div>
                        </div>
                    </nav>


                </div>


                <div th:if="${cantidadMensajes > 0}">


                    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
                        data-bs-smooth-scroll="true" class="scrollspy-example  p-3 rounded-2" tabindex="0">


                        <div class="col-md m-3">

                            <div class="container ">

                                <div class="row  d-flex justify-content-center">

                                    <div class="col-md-11 ">

                                        <div class="headings d-flex justify-content-between align-items-center">
                                            <h5>Notificaciones sin leer <span th:text="${cantidadMensa}"></span></h5>

                                            <div class="buttons">

                                                <span class="badge  d-flex flex-row align-items-center ">

                                                    <form th:action="@{/MarcarMensajeLeido}" method="get" class="m-1">

                                                        <button class="btn-sm btn btn-warning shadow"
                                                            type="submit">Marcar como leído <i
                                                                class="fa-solid fa-envelope-circle-check"></i></button>

                                                                
                                                    </form>

                                                    <form th:action="@{/MarcarMensajeLeido}" method="get" class="m-1">

                                                        <button class="btn-sm btn btn-danger shadow"
                                                            type="submit">Vaciar Buzón <i
                                                                class="fa-solid fa-trash-can"></i></button>

                                                                
                                                    </form>

                                                </span>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>



                        <div class="ex1 " >

                            <div th:each="notificacion : ${notificaciones}">

                                <div class="container uk-margin-small-bottom">

                                    <div class="row d-flex justify-content-center">

                                        <div class="col-md-11 ">


                                            <div class="card  bg-body-tertiary shadow p-2 ">

                                                <div class="d-flex justify-content-between align-items-center">

                                                    <div class="user d-flex flex-row align-items-center">

                                                        <i class="fa-regular fa-envelope" style="width: 30;"></i>

                                                        <span><small
                                                                class="font-weight-bold text-primary">SIC : </small>
                                                            <small class="font-weight-bold"
                                                                th:text="${notificacion.comentario}">Hmm, This poster
                                                                looks
                                                                cool</small></span>

                                                    </div>


                                                    <small th:text="${notificacion.fecha}">2 days ago</small>

                                                </div>


                                                <div class="action d-flex justify-content-between mt-2 align-items-center">

                                                    <div class="d-flex flex-row mb-3">

                                                        <div >
                                                            <span class="dots m-1"></span>
                                                            <a class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-0-hover "
                                                            th:href="@{'eliminarNotificacion/{id}' (id=${notificacion.id})}">Eliminar
                                                            <i class="fa-regular fa-trash-can"></i> </a>
                                                        
                                                        </div>

                                                        <div  th:if="${notificacion.estado == 'No Leido'}">
                                                            <span class="dots m-1"></span>
                                                            <a class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-0-hover "
                                                            th:href="@{'marcarcomoleido/{id}' (id=${notificacion.id})}">Marcar como leído
                                                            <i class="fa-regular fa-eye"></i></a>
                                                            
                                                        
                                                        </div>

                                                        <div  th:if="${notificacion.estado == 'Leido'}">
                                                            <span class="dots m-1"></span>
                                                            <span class="" style="color: rgb(44, 175, 11);">leído</span>
                                                            <a class="fa-solid fa-check"  style="color: rgb(44, 175, 11);"></a>

                                                        </div>
                                                      
                                                    </div>



                                                    <div class="icons align-items-center">

                                                        <i class="fa fa-star text-warning"></i>


                                                    </div>

                                                </div>



                                            </div>


                                        </div>

                                    </div>

                                </div>



                            </div>

                        </div>

                    </div>


                </div>


                <div th:if="${cantidadMensajes == 0}">


                    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
                        data-bs-smooth-scroll="true" class="scrollspy-example  p-3 rounded-2" tabindex="0">


                        <div class="col-md m-3">

                            <div class="container ">

                                <div class="row  d-flex justify-content-center">

                                    <div class="col-md-11 ">

                                        <div class="headings d-flex justify-content-between align-items-center">
                                            <h5>Total de notificaciones <span th:text="${cantidadMensa}"></span></h5>

                                            <div class="buttons">

                                                <span class="badge bg-white d-flex flex-row align-items-center">
                                                    <span class="text-primary">Marcar como leído "ON"</span>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox"
                                                            id="flexSwitchCheckChecked" checked>

                                                    </div>
                                                </span>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>



                        <div class="ex1">

                            <div>

                                <div class="container ">

                                    <div class="row d-flex justify-content-center">

                                        <div class="col-md-11 ">


                                            <div class="card  bg-body-tertiary shadow p-3 mb-5 ">



                                                <div class=" align-items-center">



                                                    <div style="text-align: center;">
                                                        <i class="fa-solid fa-comment-slash fa-5x"></i>
                                                        <h4 style="margin-top: 0.25em;">Coffee</h4>
                                                        <p>"No tienes ningún mensaje ."</p>
                                                    </div>

                                                </div>


                                            </div>


                                        </div>

                                    </div>

                                </div>



                            </div>

                        </div>

                    </div>


                </div>







            </div>
        </div>
    </div>

    </div>





    <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50 uk-position-bottom"
        style="background-color: rgb(9, 42, 140);">
        <div class="container text-center">

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light">administracionlotes@pichincha.com.co</a>
                </li>

            </ul>



        </div>
    </footer>



    <!-- UIkit JS visual-->

    <script src=" /static/js/uikit-icons.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
    <script src="/static/js/uikit.js"></script>

    <!-- UIkit JS sprintboot-->

    <script th:src="@{js/uikit-icons.js}"></script>
    <script th:src="@{js/uikit-icons.min.js}"></script>
    <script th:src="@{js/uikit.js}"></script>

    <!-- Boostrap js visual -->

    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/all.js"></script>
    <script src="/static/js/"></script>


    <!-- Boostrap js sprintBoot -->

    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/all.js}"></script>



</body>

</html>