<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
    <link rel="shortcut icon" th:href="@{/icons/logo.png}">

    <!-- UIkit CSS para sprintboot -->

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/uikit.css} " rel="stylesheet" />
    <link th:href="@{/css/all.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet">

    



    <!-- UIkit CSS para visual -->

    <link href="/static/css/uikit.css" rel="stylesheet" />
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/all.css" rel="stylesheet">

    




</head>

<body style="overflow-x:hidden ;">




    <!-- panel general para plantillas -->

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-2 p-0 ">

                <!-- uk-height-1-1 -->

                <div class="uk-card uk-card-default uk-card-body shadow rounded uk-height-1-1"
                    style=" background-color: #f8df00 ;">
                    <ul class="uk-nav-default" uk-nav>


                        <!-- <img th:src="@{/Img/logo2.PNG}" style="alt: 30px; height: 30px;"> -->
                        <img th:src="@{/Img/pichinchaLogo.jpg}">

                        <!-- Opciones de administrador -->





                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Analista Contable'}"><a
                                href="#"><i class="fa-solid fa-file-excel"></i>Lote</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Analista Contable'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/lote}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-table"></i> cargar
                                            Lote
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-circle-info"></i> Historial lote </button>



                                    </form>
                                </li>

                            </ul>
                        </li>



                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Autorizador nivel 1'}"><a
                                href="#"><i class="fa-regular fa-circle-check"></i>Autorizador Nivel 1</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Autorizador nivel 1'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja
                                            entrada
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>



                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Autorizador nivel 2'}"><a
                                href="#"><i class="fa-regular fa-circle-check"></i>Autorizador Nivel 2</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Autorizador nivel 2'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/bandejaEntradaLote}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-inbox"></i> Bandeja
                                            entrada
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1">

                                    <form th:action="@{/buscarLoteRechazado}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-ban"></i> Lotes rechazados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/buscarLoteAprobado}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-regular fa-circle-check"></i> Lotes aprobados </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/SolicitudUsuariosCrear}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-plus"></i> Solicitar Crear Usuario </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm "
                                        method="get">
                                        <button type="submit" class="btn1 text-start">
                                            <i class="fa-solid fa-user-clock"></i> Historial de solicitudes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>


                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}"><a
                                href="#"><i class="fa-solid fa-user-plus"></i>Admin</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1">
                                    <form th:action="@{/listaUsuarios}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 "> <i class="fa-solid fa-users"></i> Usuarios
                                        </button>
                                    </form>
                                </li>

                                <!--
                                <li class="m-1">
                                    <div  class="btn1 rounded shadow-sm" style="height: 30px;">
                                        <a th:href="@{/listaUsuarios}" class="btn1 link-light" target="_blank"><i class="fa-solid fa-users" style="color: aliceblue;"></i> Usuarios </a>
                                    </div>
                                </li>

                                -->

                                <li class="m-1">

                                    <form th:action="@{/listaAreas}" class="btn1 rounded shadow-sm " method="get">
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-users-line"></i> Areas </button>



                                    </form>
                                </li>

                                <li class="m-1">

                                    <form th:action="@{/EstadoPlanos}" class="btn1 rounded shadow-sm " method="get">

                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-file-circle-check"></i> Estado Lotes </button>



                                    </form>
                                </li>

                            </ul>
                        </li>



                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}">
                            <a href="#"><i class="fa-solid fa-table"></i>Parametria</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarFuentes}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-hashtag"></i>
                                            Fuente
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarCuentas}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-list-ol"></i>
                                            Cuentas
                                        </button>
                                    </form>
                                </li>


                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaSucursales}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-building"></i>
                                            Sucursales
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/ListaCentroCostos}" class="btn1 rounded shadow-sm" method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-check-dollar"></i>
                                            Centro de costos
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaMonedas}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-dollar-sign"></i>
                                            Moneda
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarDebitoCredito}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-bills"></i>
                                            Débito/crédito
                                        </button>
                                    </form>
                                </li>
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/MostrarBalance}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-file-arrow-up"></i>
                                            cargar balance
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listarCuentasPYG}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-money-check-dollar"></i>
                                            valores cuenta PYG
                                        </button>
                                    </form>
                                </li>

                                <!--
                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/ListaFechasContable}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-regular fa-calendar"></i>
                                            Fechas contables
                                        </button>
                                    </form>
                                </li>
                                -->
                                <!--

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaHorasCorte}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-clock"></i>
                                            Horas corte
                                        </button>
                                    </form>
                                </li>

                                -->

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaTrm}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                            <i class="fa-solid fa-dollar-sign"></i>
                                            TRM
                                        </button>
                                    </form>
                                </li>

                                <li class="m-1" th:if="${rol == 'Administrador'}">
                                    <form th:action="@{/listaCuentasExcep}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 ">
                                      

                                            <i class="fa-solid fa-question"></i>
                                    
                                            Cuentas Exceptuadas
                                        </button>
                                    </form>
                                </li>


                            </ul>
                        </li>

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Administrador'}">
                            <a href="#"><i class="fa-solid fa-envelope"></i>solicitudes</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Administrador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">

                                <li class="m-1">
                                    <form th:action="@{/listaSolicitudesCambioCon}" class="btn1 rounded shadow-sm "
                                        method="post">
                                        <button type="submit" class="btn1 text-start"><i class="fa-solid fa-unlock"></i>
                                            Solicitud de contraseña </button>
                                    </form>
                                </li>

                                <li class="m-1">
                                    <form th:action="@{/listaSolicitudesCrearUsuario}" class="btn1 rounded shadow-sm "
                                        method="post">
                                        <button type="submit" class="btn1 text-start"><i
                                                class="fa-solid fa-user-plus"></i>
                                            Crear usuario </button>
                                    </form>
                                </li>

                            </ul>
                        </li>

                        <li class="uk-active text-uppercase fw-semibold" th:if="${rol == 'Centralizador'}"><a
                                href="#"><i class="fa-regular fa-square-check"></i>Planos</a>
                        </li>

                        <li class="uk-parent uk-margin-small-top" th:if="${rol == 'Centralizador'}">
                            <a href="#" style="color: black;">Seleccionar <span uk-nav-parent-icon></span></a>

                            <ul class="uk-nav-sub">
                                <li class="m-1">
                                    <form th:action="@{/listaLotesAutorizados}" class="btn1 rounded shadow-sm"
                                        method="get">
                                        <button type="submit" class="btn1 "><i class="fa-solid fa-list-check"></i> Lotes
                                            autorizados </button>
                                    </form>
                                </li>


                            </ul>
                        </li>



                    </ul>



                </div>


            </div>

            <div class="col-md-10 p-0">

                <div class="container-lxx text-center">

                    <!-- barra de navegacion -->
                    <nav class="navbar navbar-expand-lg bg-body-tertiary ">

                        <div class="container-fluid">


                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                    <img th:src="@{/icons/logo.png}" style="alt: 40px; height: 40px;"><span class="m-2"
                                        style="text-decoration:none">SIC</span>


                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" th:href="@{/Home}">Inicio</a>
                                    </li>


                                   
        

                                </ul>
                                <span class="navbar-text p-0">
                                    <span class="m-2 navbar-text">Area </span>
                                    <span class="m-2 ">Rol </span>
                                    <span class="m-2 ">nombre de usuario </span>

                                </span>

                                <span class="navbar-text p-0">
                                    <div class="btn-group ">
                                        <button type="button" class="btn dropdown-toggle " data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="fa-solid fa-circle-user"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <form th:action="@{/logout}" method="post" class="btn ">
                                                <button class="btn btn-light" type="submit">Cerrar sesión</button>
                                            </form>

                                        </ul>
                                    </div>
                                </span>

                            </div>
                        </div>
                    </nav>


                    <div class="col-md m-5">

                        <div class="container text-center shadow p-3 mb-5 bg-body-tertiary rounded">
                            <div class="row">
                                <div class="col align-self-center">
                                    <p class="text-uppercase fs-4 fw-semibold">Crear usuario</p>
                                </div>

                            </div>

                            <div th:if="${notificacion != null}">
                                <div class="col align-self-center">
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <strong th:text="${notificacion}"></strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <!-- formulario para cuardar los datos del usuario-->
                                <form class="row g-3" th:action="@{/guardarUsuario}" th:object="${usuario}"
                                    method="post">
                                    <div class="col-md-6">
                                        <label for="inputEmail4 " class="form-label">Nombre completo</label>
                                        <input type="text" class="form-control" id="inputEmail4" th:field="*{nombre}" placeholder="Nombre completo con espacios" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputPassword4" class="form-label">Usuario</label>
                                        <input type="text" class="form-control" id="inputPassword4"  th:field="*{username}" placeholder="Usuario designado por el banco" maxlength="10" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputEmail4" class="form-label">Correo</label>
                                        <input type="email" class="form-control" id="inputEmail4" th:field="*{correo}" placeholder="Correo corporativo" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputPassword4" class="form-label">Identificación</label>
                                        <input type="number" class="form-control" id="inputPassword4" th:field="*{documento}"  maxlength="10" required placeholder="C.C sin espacios">
                                    </div>

                                    <div class="col-md-4">
                                        <label for="inputCity" class="form-label">Roles</label>

                                        <div class="input-group mb-1">

                                            <label class="input-group-text" for="inputGroupSelect01">Opciones</label>
                                            <select class="form-select" id="inputGroupSelect01" th:field="${usuario.rol}" required>
                                                <option th:each=" Roles : ${roles}" th:text="${Roles.name}" th:value="${Roles.id}" >seleccionar</option>

                                            </select>
                                        </div>
                                    </div>



                                    <div class="col-md-8">
                                        <label for="inputCity" class="form-label">Areas</label>

                                        <div class="input-group mb-1">

                                            <label class="input-group-text" for="inputGroupSelect01">Opciones</label>

                                            <input type="text" class="form-select" th:name="dato" id="areas" required placeholder="Nombre del area">

                                            <!--
                                            <select class="form-select" id="inputGroupSelect01" th:name="dato">
                                                <option th:each=" areas : ${Areas}" th:text=" | Area : ${areas.Area} , Direccion :  ${areas.Direccion} , presidencia : ${areas.presidencia}|" th:value="${areas.idarea}">seleccionar</option>

                                            </select>
                                            -->

                                        </div>
                                    </div>
                                    
                            </div>




                            <!-- buton para guardar los datos en base de datos y mandar datos al controlador-->

                            <div>

                                <button class="btn btn-dark m-3" type="submit">Crear usuario</button>

                            </div>
                            </form>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>
    </div>


    <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50" style="background-color: rgb(9, 42, 140);">
        <div class="container text-center">

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light">administracionlotes@pichincha.com.co</a>
                </li>

            </ul>



        </div>
    </footer>
    <!-- UIkit JS sprintboot

    <script src=" /static/js/uikit-icons.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
    <script src="/static/js/uikit.js"></script>
        -->

    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.js}"></script>

    <script th:src="@{/js/uikit-icons.js}"></script>
    <script th:src="@{/js/uikit-icons.min.js}"></script>
    <script th:src="@{/js/uikit.js}"></script>


    <!-- Boostrap js visual 

    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/all.js"></script>
    <script src="/static/js/"></script>

    -->



    <script type="text/javascript">
		$(document).ready(function() {

			$("#areas").autocomplete({

				source : function(request, response) {
					$.ajax({

                        //url : "/cargarAreas/" + request.term,
						url : "/CargaLotesMasivosAppweb-0.0.1-SNAPSHOT/cargarAreas/" + request.term,
						dataType : "json",
						data : {
							term : request.term
						},
						success : function(data) {
							response($.map(data, function(item) {
								return {
									value : item.idarea,
									label : item.area,
                                    
                                    
									
								};
							}));
						},
					});
				},
				select : function(event, ui) {
					$("#areas").val(ui.item.label);

					return false;
				}
			});
		});
	</script>

    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>

    <!-- Boostrap js sprintBoot -->

    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/all.js}"></script>



</body>

</html>